[2018-06-06 07:38] mttrbrts opened #3 "'Add Your Company' link does not work"
'Add Your Company' link does not work
https://docs.accordproject.org/users.html

[2018-06-06 07:39] mttrbrts opened #4 "Icons for projects on the homepage should jump into docs"
Icons for project on homepage should jump into docs. Currently the navigation via the docs menu header is not obvious

[2018-06-27 08:12] mttrbrts commented on #4
Icons removed, so closing this issue

[2018-06-27 08:12] #4 closed

[2018-07-09 08:19] #3 closed

[2018-10-21 20:10] hshadab opened #27 "Link inoperable"
https://docs.accordproject.org/docs/cicero-specification.md not working

[2018-10-21 20:18] peterhunn commented on #27
https://docs.accordproject.org/docs/cicero-specification works

[2018-10-22 07:41] mttrbrts commented on #27
To get the proper menus you should use https://docs.accordproject.org/docs/accordproject-specification.html, where did you find this link, please @hshadab ?

[2018-10-22 12:37] hshadab commented on #27
@mttrbrts  A link to the above broken link is found here: https://docs.accordproject.org/docs/cicero.html

[2018-10-22 15:06] jeromesimeon commented on #27
Good catch @hshadab

[2018-11-29 13:01] adriaan-pelzer opened #31 "ergo commands installed"
**Ergo** installation section of the [documentation](https://docs.accordproject.org/docs/accordproject-tools.html) refers to 2 installed ergo commands: **ergoc** and **ergo**.
According to the docs, ergo needs to be tested as such:
ergo execute --help
There is no such command installed, however. The installed commands seem to be:
**ergoc**
**ergorun**
**ergotop**

[2018-11-29 13:16] mttrbrts commented on #31
Thanks for raising an issue @adriaan-pelzer, it seems that we haven't released the latest version of the documentation yet. The `next` build includes the changes (https://docs.accordproject.org/docs/next/accordproject-tools.html). I'll get a release out shortly.

Sorry for any inconvenience.

[2018-11-29 13:18] adriaan-pelzer commented on #31
No worries - thanks for your quick reply!

[2018-11-29 13:21] adriaan-pelzer commented on #31
Shouldn't that be
```ergorun execute --help```

[2018-11-29 13:32] mttrbrts commented on #31
@jeromesimeon can you review the docs again, please? It seems like there are a few issues remaining

[2018-11-29 13:58] jeromesimeon commented on #31
Thanks @mttrbrts and @adriaan-pelzer. I thought it was done, let me look at it again.

@adriaan-pelzer

It should just be `ergorun [options] files` and `ergoc [options] files`, no need for `execute`.

[2018-12-03 16:22] jeromesimeon commented on #31
Should be fixed in the latest version of the documentation, which is now online: https://docs.accordproject.org

[2018-12-03 16:57] #31 closed

[2018-12-07 19:34] jeromesimeon opened #34 "Document Ergo as main source language for templates"
We should review the technical documentation to clarify that Ergo is becoming the main source language for Accord Project templates.

The main changes are likely in https://docs.accordproject.org/docs/accordproject-specification.html
but a more complete review is probably useful.

[2019-04-23 19:16] jeromesimeon commented on #34
Fixed in #47

[2019-04-23 19:16] #34 closed

[2019-06-19 15:06] irmerk opened #62 "AP Documentation Sync"
## Tasks
- Implement updated Accord Project documentation.

[2019-06-19 16:09] jeromesimeon commented on #62
I'm not sure I understand what this issue is about, could you explain?

[2019-06-21 15:33] irmerk commented on #62
Closed with #63

[2019-06-21 15:33] #62 closed

[2019-07-11 13:33] adrianffletcher opened #65 "Incorrect namespace defined across documentation."
The namespace for importing accord project files is specified as 'ord.accordproject' in many places rather than 'org.accordproject'

One example is here:
https://docs.accordproject.org/docs/ergo-stdlib.html

<img width="888" alt="Screenshot 2019-07-11 at 14 29 43" src="https://user-images.githubusercontent.com/29235349/61055188-d99a0280-a3e8-11e9-837d-e2a78f4f0bd2.png">

[2019-07-19 15:41] jolanglinais opened #67 "Full Contract Documentation"
Accord Project documentation needs to be updated to represent new information on our support for full contracts. This involves:
  - Advanced Template Markup
  - Contract Modularity
  - Embedded Expressions in Templates

  This will encompass [ergo][ergo], [cicero][cicero], [cicero-template-library][cicero-template-library], [models][models], [cicero-ui][cicero-ui], and [template-studio-v2][templat

[2019-07-19 15:46] irmerk opened #68 "Dynamic Template Documentation"
Accord Project documentation needs to be updated to represent new information on our control of the contract text by embedding logic in the templates. This involves:
  - Constructing Tables & Lists
  - Handling Text Dependencies
  - Handling Optional Text (with Parameters)
  - Handling Complex Data

This will also cover syntax updates, which can be viewed more in [Cicero Issue #392][syntaxIssue]

[2019-07-19 15:48] irmerk opened #69 "Flows Documentation"
Accord Project documentation needs to be updated to represent new information on our feature for a sequence of steps that enriches or modifies data immediately before executing a clause, or immediately after obligations are emitted.

  This will encompass [ergo][ergo], [cicero][cicero], [cicero-template-library][cicero-template-library], [models][models], [cicero-ui][cicero-ui], and [template-stud

[2019-07-19 15:52] irmerk opened #70 "A11Y Documentation"
Accord Project documentation needs to be updated to represent our ongoing effort for inclusive design for accessibility. This involves:

**Inclusive design** is a methodology which enables and draws on the full range of human diversity.

**Accessibility** is qualities which make an experience open to all and the professional discipline aimed at achieving that.

Good resources to share:
- [The A11Y

[2019-07-19 15:53] irmerk opened #71 "TSv2 Documentation"
Accord Project documentation needs to be updated to represent our new template studio and its features. This involves:

This will encompass [cicero-ui][cicero-ui] and [template-studio-v2][template-studio-v2]

[cicero-ui]: https://github.com/accordproject/cicero-ui
[template-studio-v2]: https://github.com/accordproject/template-studio-v2

[2019-08-21 17:49] irmerk opened #75 "Documentation Versioning"
Indicate "Documentation" for all instances of versioning.

- Header between logo and version
- `Current Documentation Version (Stable)`
- `Pre-Release Documentation Versions`
- `Past Documentation Versions`

<img width="727" alt="Screen Shot 2019-08-21 at 1 47 21 PM" src="https://user-images.githubusercontent.com/36460856/63455198-4ce85880-c41a-11e9-96ea-4e24f1bbc9f8.png">

[2019-09-10 18:16] irmerk opened #76 "Documentation Semantic Versioning"
Remove patch version numbers from the semantic versioning of Accord Project documentation.

Instead of `v0.13.0`, it should be `v0.13` since documentation will not be utilizing the patch section of semantic versioning.

![semver](https://user-images.githubusercontent.com/36460856/64639242-753df400-d3d5-11e9-8bab-2447208d92a5.png)

### Related Issues
- #75

[2019-09-10 18:28] irmerk opened #77 "Downloads Badges"
**Is your feature request related to a problem? Please describe.**
We should display a badge for downloads on repositories' main `README` which are downloaded, including:
- `ergo`
- `cicero`
- `cicero-ui`
- `markdown-editor`
- `markdown-transform`
- `slate-markdown-transform`
- etc...

**Describe the solution you'd like**
Reference [`styled-components`](https://github.com/styled-components/styled-

[2019-09-10 18:38] irmerk opened #78 "Slack Badges"
**Is your feature request related to a problem? Please describe.**
We should display a badge for our slack on repositories' main `README`, including:
- `ergo`
- `cicero`
- `cicero-ui`
- `markdown-editor`
- `markdown-transform`
- `slate-markdown-transform`
- `template-studio-v2`
- `cicero-vscode-extension`
- `cicero-template-library`
- `models`
- ~`techdocs`~ (**FINISHED** @4katie)
- etc...

**Desc

[2019-09-10 18:40] irmerk opened #79 "Logo Centering"
**Is your feature request related to a problem? Please describe.**
We should center logos in repository `README`s, including:
- `ergo` (Ergo and AP logo)
- `cicero` (Cicero and AP logo)
- `cicero-ui`
- `markdown-editor`
- `markdown-transform`
- `slate-markdown-transform`
- `template-studio-v2`
- `cicero-vscode-extension`
- `cicero-template-library`
- `models`
- etc...

**Describe the solution you'

[2019-09-10 18:45] irmerk opened #80 "Ecosystem Description Table"
**Is your feature request related to a problem? Please describe.**
We should display a table for our ecosystem on repositories main `README`, including:
- `ergo`
- `cicero`
- `cicero-ui`
- `markdown-editor`
- `markdown-transform`
- `slate-markdown-transform`
- `template-studio-v2`
- `cicero-vscode-extension`
- `cicero-template-library`
- `models`
- etc...

**Describe the solution you'd like**
Refe

[2019-09-10 18:52] irmerk opened #81 "Accord Project Badge"
**Is your feature request related to a problem? Please describe.**
We should create a custom Accord Project badge, available in our published repositories' main `README`, including:
- `ergo`
- `cicero`
- `cicero-ui`
- `markdown-editor`
- `markdown-transform`
- `slate-markdown-transform`
- etc...

**Describe the solution you'd like**
Reference [`styled-components`](https://github.com/styled-compone

[2019-09-10 18:58] irmerk opened #82 "License Badges"
**Is your feature request related to a problem? Please describe.**
We should add a license badge in our repositories' main `README`, including:
- `ergo`
- `cicero`
- `cicero-ui`
- `markdown-editor`
- `markdown-transform`
- `slate-markdown-transform`
- `template-studio-v2`
- `cicero-vscode-extension`
- `cicero-template-library`
- `models`
- etc...

**Describe the solution you'd like**
Reference [`v

[2019-09-10 19:02] irmerk opened #83 "Contributors Section in README"
**Is your feature request related to a problem? Please describe.**
We should add a contributors section in our repositories' main `README`, including:
- `ergo`
- `cicero`
- `cicero-ui`
- `markdown-editor`
- `markdown-transform`
- `slate-markdown-transform`
- `template-studio-v2`
- `cicero-vscode-extension`
- `cicero-template-library`
- `models`
- etc...

**Describe the solution you'd like**
This s

[2019-09-14 21:01] irmerk commented on #67
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-14 21:02] irmerk commented on #68
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-14 21:05] irmerk commented on #71
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-14 21:05] irmerk commented on #70
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-14 21:06] irmerk commented on #77
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-14 21:07] irmerk commented on #78
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-14 21:07] irmerk commented on #79
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-14 21:07] irmerk commented on #80
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-14 21:08] irmerk commented on #81
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-14 21:08] irmerk commented on #82
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-14 21:08] irmerk commented on #83
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-14 21:53] peterhunn commented on #82
e.g. https://shields.io/category/license
<img width="503" alt="Screenshot 2019-09-14 16 52 38" src="https://user-images.githubusercontent.com/9304034/64914011-18fa0d80-d710-11e9-89ca-b49a97490a1b.png">

[2019-09-16 14:20] irmerk opened #85 "Markdown Transform"
## Tasks
  - Possibly add section to [this section](https://docs.accordproject.org/docs/accordproject.html#technology) for markdown
    - This would capture the tech behind Markdown Transform, Slate Transform, and Markdown Editor
    - Expand on this to describe the significance of Markdown and Concerto in AP
    - This [monorepo](https://github.com/accordproject/markdown-transform) will contain a

[2019-09-16 14:32] irmerk opened #86 "Ergo (v0.20)"
## Tasks
  - **Language**
    - New string template syntax `` `This is text with {% expression %} and more text` ``
    - [Support for enumerated values, with proper typing and pattern matching support](https://github.com/accordproject/ergo/issues/3)
    - [Expression sublanguage for modifying state](https://github.com/accordproject/ergo/issues/143)
  - **Standard Librar**
    - New encode and dec

[2019-09-16 14:36] irmerk opened #87 "Cicero (v0.20)"
## Tasks
  - **Dynamic Templates**
    - *need more information*
    - Gain reference material here?
  - **Markdown Support**
    - *need more information*
    - Cicero there are changes to `generateText` to accommodate markdown support - working on the details with @jeromesimeon on this
    - Gain reference material here?
  - **Transform diagram**
    - Markdown syntax for templates, details arou

[2019-09-18 20:31] irmerk opened #90 "Concerto Links"
**Describe the bug**
Documentation links to `concerto` still refer to Hyperledger's repositories

**To Reproduce**
The highlighted line here has an incorrect link:
<img width="1380" alt="Screen Shot 2019-09-18 at 16 25 31 PM" src="https://user-images.githubusercontent.com/36460856/65183489-959f2b80-da31-11e9-9473-6d3b6de204f3.png">

**Expected behavior**
Correct these links to https://github.com/a

[2019-09-18 21:25] irmerk opened #91 "Concerto Docs"
## Tasks
  - Possibly adapt [this section](https://docs.accordproject.org/docs/accordproject.html#concerto) for concerto, now being a part of accordproject and not hyperledger
    - Could include further information in other locations of the docs

## Related Issues:
- N/A

## Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-18 22:39] peterhunn opened #92 "LF logo missing"
Linux Foundation logo is missing in the footer of the Technical docs (cf. www.accordproject.org)

[2019-09-18 22:43] Michael-Grover commented on #92
![image](https://user-images.githubusercontent.com/40569793/65192073-f46da080-da43-11e9-82cd-650f91da3d4d.png)

Whoever tackles this issue, see accordproject.org's footer for reference on how the linux foundation logo should appear. Have the logo appear like this on all tech doc subsites of the Accord Project such as https://docs.accordproject.org/  and https://models.accordproject.org/

[2019-09-18 22:44] peterhunn opened #93 "AP logo in footer"
**Describe the bug**
AP logo in the footer is dulled on rollover:
![image](https://user-images.githubusercontent.com/9304034/65192103-a6ed3580-da3b-11e9-8716-76a4acac2aff.png)

Should be consistent with www.accordproject.org.

[2019-09-19 16:01] Michael-Grover commented on #92
@jeromesimeon I think you are most familiar with the how the techdoc pages are set up, right?

[2019-09-20 20:24] Michael-Grover opened #94 "Download JSON Schema button in pages doesn't work"
The "Download JSON Schema" button in model pages doesn't work.

Example

https://models.accordproject.org/patents/patent.html

[2019-09-24 01:35] carolinaknoll commented on #65
Hello, can I take this one for Hacktoberfest for a pair programming session?

Also, thank you for creating very detailed issues and a highly descriptive contributing guide. 🎉 ✨

[2019-09-25 17:17] aayushbisen commented on #82
I am working on this one.
Thanks Accord team for very detailed instructions, labels on how to contribute to different projects. ❤️

[2019-09-25 17:29] aayushbisen commented on #78
I like to work on this one. 👋

[2019-09-25 17:30] aayushbisen commented on #79
I want to work on this issue. 😃

[2019-09-25 17:34] aayushbisen commented on #90
I like to work on this issue. 🙂

[2019-09-26 08:22] daniloff200 commented on #83
Can pick this one, I think :)

[2019-09-26 08:26] daniloff200 commented on #90
Please, assign this to me : )
also, if I found some other broken links (not related to exactly this case ), can I ask here, what's the expected behaviour?

[2019-09-26 09:20] daniloff200 commented on #80
I can took this one too, but, I have one question: Is it okay If I make table with the same structure, like in vue example, or, we really need a sub heading for each section, like :

Core
Project                Status             Description
ergo                    badge              some descr
cicero                  badge              some descr

User Interface
Project                Status

[2019-09-26 11:28] irmerk commented on #90
@daniloff200: I think the best option would be raising another issue. If it's a duplicate, we can either reference it or close it in favor for an existing one.

[2019-09-26 11:32] irmerk commented on #80
@daniloff200: I'm pretty sure I understand! I think the option you proposed sounds better, having sub-headings. There are some pretty distinct borders, so that sounds like the right path.

[2019-09-27 18:57] michizhou commented on #91
I can definitely tackle this issue! Feel free to assign it to me.

[2019-09-27 19:01] michizhou commented on #86
I can definitely tackle this issue! Feel free to assign it to me.

[2019-09-27 19:01] michizhou commented on #87
I can definitely tackle this issue! Feel free to assign it to me.

[2019-09-27 19:03] michizhou commented on #81
I can definitely tackle this issue! Feel free to assign it to me.

[2019-09-27 19:21] irmerk commented on #86
@michizhou We're in the middle of the Ergo `v0.20` release propagation through `alpha` to `beta` to full release. This is mainly managed and tackled by @jeromesimeon, so be sure to ask for any direction you may need.

[2019-09-27 19:22] irmerk commented on #87
@michizhou Same comment as the Ergo issue: We're in the middle of the Cicero `v0.20` release propagation through `alpha` to `beta` to full release. This is mainly managed and tackled by @jeromesimeon, so be sure to ask for any direction you may need.

[2019-09-27 19:27] irmerk commented on #81
Great @michizhou! A good starting point could be the work @4katie did in #89.

[2019-09-29 01:46] RanadeepPolavarapu commented on #77
I'll take care of this.

[2019-09-29 23:40] peterhunn opened #96 "PDF Download"
**Is your feature request related to a problem? Please describe.**

NA

**Describe the solution you'd like**

I'd like to be able to download the current version of the technical specification and associated documentation in a single PDF reference

[2019-09-30 15:39] oorjitchowdhary commented on #92
can i take this up?

[2019-10-01 14:02] vaibhav111tandon commented on #94
May I take this issue?

[2019-10-01 14:07] Michael-Grover commented on #94
@vaibhav111tandon Here is an example of a page where the button leads somewhere.

https://models.accordproject.org/docusign/connect@0.2.0.html

The download JSON Schema button appears to work on the majority of model pages that you can navigate to from this page: https://models.accordproject.org/

I'm not sure  why the button leads somewhere on some pages and not others. I'm not very familiar with

[2019-10-01 14:10] vaibhav111tandon commented on #94
ok

[2019-10-01 14:21] Michael-Grover commented on #92
@oorjitchowdhary

Here is the image asset.

![linux-foundation](https://user-images.githubusercontent.com/40569793/65970236-1f88c480-e434-11e9-98a9-db0290e90f68.png)

The width should be 300px, with 50px margin on top and bottom.

It should hyperlink to this URL as it does on the Accord Project website: https://www.linuxfoundation.org/projects/

The logo needs to appear in the footers of these sit

[2019-10-01 14:42] dselman commented on #94
The underlying cause is that some of the models fail to convert to JSON Schema (which happens statically in the build process).

[2019-10-01 15:26] oorjitchowdhary commented on #65
hi can i take this up?
i'll be sending a PR in a while

[2019-10-01 15:46] oorjitchowdhary commented on #65
@carolinaknoll oh! i couldn't see activity on this issue the past week so i thought of making a PR.
i already completed it though. let @adrianffletcher merge your PR and just leave mine as is.

[2019-10-01 16:01] irmerk commented on #65
@carolinaknoll very sorry I didn't see your post! Feel free to put in a PR for this issue, or take on another one. Let me know which you'd prefer, and I'll assign you to the issue.

[2019-10-01 16:53] mttrbrts commented on #65
Fixed by @oorjitchowdhary in #97

[2019-10-01 16:53] #65 closed

[2019-10-01 17:04] aayushbisen commented on #79
What should we do for repositories that doesn't have any logos in their README ?

[2019-10-01 17:23] irmerk commented on #79
Which ones, for example? There are some older repositories that we haven't archived yet but wouldn't benefit from updating the docs in this manner.

[2019-10-01 20:28] daniloff200 commented on #93
hi, @peterhunn
Do you mean the  hover effect ?
Because, on www.accordproject.org there are no  dark colors on hover, only the cursor. Should I change it ?

[2019-10-01 20:46] daniloff200 commented on #93
If so, feel free to assign this to me, and also, you can add a Hacktoberfest label for it :jack_o_lantern:

[2019-10-01 21:50] irmerk commented on #93
Ah, yes this was in reference to the footer here: https://docs.accordproject.org/

[2019-10-02 00:16] RanadeepPolavarapu commented on #77
All 5 PRs linking to this issue are signed off with a DCO.

[2019-10-02 08:37] mttrbrts opened #100 "Automatic generation of contributor graphic in README.md"
**Is your feature request related to a problem? Please describe.**
Currently the contributor graphic that shows profile images for contributors in README.md is manually created.

**Describe the solution you'd like**
It would be awesome if this was created automatically during the Travis build for the master branch.

**Describe alternatives you've considered**
Currently [`scripts/get_contributors.s

[2019-10-02 08:48] aayushbisen commented on #78
I have 2 more PR's ready for #82 and this.
Since both issues are closed now.
Can I still submit the PR's?

[2019-10-02 08:50] mttrbrts commented on #83
@daniloff200
This PR should help with this, https://github.com/accordproject/techdocs/pull/98

Also, if you're feeling more adventurous you may want to tackle this related issue too, https://github.com/accordproject/techdocs/issues/100

[2019-10-02 11:44] susw12 commented on #85
If this issue is still open, could you possibly assign it to me?

[2019-10-02 13:39] irmerk commented on #79
I think we still have
- `models`
- `concerto`
- `cicero-ui`
- `techdocs`
- `template-studio-v2`
- `markdown-editor`
- `cicero-vscode-extension`
- `docs`

[2019-10-02 13:42] irmerk commented on #82
I believe we're still needing:
- `concerto`
- `cicero-ui`
- `markdown-editor`
- `markdown-transform`
- `template-studio-v2`
- `cicero-vscode-extension`
- `cicero-template-library`
- `models`

[2019-10-02 13:44] irmerk commented on #78
Yes @aayushbisen, I believe we still need this for the majority of our repositories.

[2019-10-02 13:48] aayushbisen commented on #79
Is this the official logo for Concerto? Should we add this logo in the concerto repository README?

![chrome_PRaHy8ovAw](https://user-images.githubusercontent.com/41341387/66049518-26edc200-e549-11e9-8807-59a071189446.png)

[2019-10-02 13:51] irmerk commented on #79
This is a placeholder currently, so I think we can use it to put the code to center it in place. Then later when we update the logo, we can just swap it out.

[2019-10-02 13:52] aayushbisen commented on #79
Okay.

[2019-10-02 14:28] irmerk commented on #77
We'll want this for `cicero-ui` as well.

[2019-10-02 17:23] Niladri24dutta commented on #100
@mttrbrts is there any existing .yml file for travis CI that is being used for the master branch? if not then should I create a build definition for travis that executes the script scripts/get_contributors.sh ?

[2019-10-02 18:39] jeromesimeon commented on #91
Some of the existing material that we can borrow from include:
- Modeling Reference from HL Composer: https://hyperledger.github.io/composer/latest/reference/cto_language.html
- The READMEs in this very project

Whatever we write should be consistent with the nice intro by @dselman at: https://www.accordproject.org/news/strongly-typed-data-for-javascript-and-beyond/

[2019-10-02 18:46] mttrbrts commented on #100
Thanks @Niladri24dutta My mistake, I forgot that for this repo the contents of `website` is also built manually.

I suggest focussing on the image generate part, for now? I can set up the Travis skelton build tomorrow..

[2019-10-02 20:46] Michael-Grover opened #106 "Accord Project logo in the nav bar is not the correct logo"
The Accord Project text in the nav bar is not the actual Accord Project logo. See the footer for the proper logo:

![image](https://user-images.githubusercontent.com/40569793/66080244-b38d8580-e533-11e9-9644-cac8cfcd3062.png)

Here is the SVG file of the proper logo

[A-MARK-ACCORDPROJECT-ONELINE-white.svg.zip](https://github.com/accordproject/techdocs/files/3683242/A-MARK-ACCORDPROJECT-ONELINE-wh

[2019-10-02 21:27] Frozenaught commented on #106
Hi, if no one is working on this issue I would be keen to do it.

[2019-10-02 22:14] kharaone commented on #100
There's actually an easy way through a bot for example which allows you a bit more of control than just adding a contributor automatically. I saw it used in different other repositories.
https://allcontributors.org/
I think that's something that would fit your current processes and is customizable enough to adapt for any changes. Everyone isn't contributing the same way ;)

[2019-10-03 00:08] sesam commented on #96
What does "associated documentation" mean here? Does this issue include creating a PDF and adding a suitably visible link to it?

[2019-10-03 00:10] sesam commented on #93
Labeling for this is not updated - looks like it's both Taken and soon completed! :tada:

[2019-10-03 00:55] irmerk commented on #96
@peterhunn flagging this for you.

[2019-10-03 00:56] irmerk commented on #93
Unsure what you mean. It's taken and soon completed, so I think the labeling is up to date.

[2019-10-03 06:21] sameshl commented on #83
@irmerk Would love to work on this!

[2019-10-03 06:24] daniloff200 commented on #83
Looks like it's assigned to me  already 🤔

[2019-10-03 07:10] sesam commented on #93
Sorry - just meant that other issues were tagged with "Good first issue (taken)" which maybe doesn't apply. But I did a good effort to find something interesting to dip my toes here :)

[2019-10-03 07:18] sesam opened #108 "Suggestion: add a gentle, front-and-center, intro to this project's scope"
To capture first-time visitors, would be benefitted by some infographic or light reading. Maybe most of this project's users are happy with long texts :) as I guess it goes with the domain, I think you could get some Hacktoberfest help from education- and design-skilled people by adding some tasks about generating new explanatory/educational content.

So please see this issue as an encouragement t

[2019-10-03 07:53] #93 closed

[2019-10-03 08:00] mttrbrts commented on #100
Great idea @kharaone, I've added the bot.

@all-contributors please add @kharaone, @Niladri24dutta for documentation

[2019-10-03 08:01] mttrbrts commented on #100
Great idea @kharaone! I've added the bot.

@all-contributors please add @kharaone and @Niladri24dutta for documentation

[2019-10-03 08:09] mttrbrts commented on #100
@Niladri24dutta perhaps you could modify the `scripts/get_contributors.sh` script to produce something similar to the old static image https://github.com/accordproject/techdocs/blob/master/assets/contributors.png but instead using the all-contributors JSON format in `.all-contributorsrc`? The bot will automatically generate the Markdown

See this PR by the bot for reference
https://github.com/acco

[2019-10-03 08:49] sameshl commented on #83
I think there are a lot of repos for which the task has to be done. So I thought maybe we could split them in between?:sweatsmile:

[2019-10-03 09:10] mttrbrts commented on #83
We're following @kharaone's suggestion in https://github.com/accordproject/techdocs/issues/100 and have enabled the https://allcontributors.org/ bot.

Here's the current allocation:
- techdocs - @Niladri24dutta

Why don't @sameshl and @daniloff200 share the rest between you?
- ergo - @daniloff200
- cicero - @daniloff200
- cicero-ui - @daniloff200
- markdown-editor - @daniloff200
- markdown-transfo

[2019-10-03 09:11] dselman opened #111 "Improve Information Architecture"
A top-down review of how we organise the information in the documentation and who it is for.

This is becoming more pressing as we work on the documentation for Cicero v0.20 with the new CiceroMark markup, as well as folding in the documentation for Concerto.

Related issues:
#108
#96
#91

Straw man proposal:
https://docs.google.com/spreadsheets/d/1YaGFm6t0Y__tzdG_N6fUCG5EvjdeiffpB3JMdKR-zA0/edit#

[2019-10-03 09:19] daniloff200 commented on #83
Oh, I've hadn't seen, that some automatic way was already created!
Cool, thanks @mttrbrts  for info !

[2019-10-03 13:17] irmerk commented on #93
It isn't the best system, but assigning it to someone means it is taken, but the `Good First Issue (Taken)` is just a contrast to the commonplace `Good First Issue`.

[2019-10-03 14:10] jeromesimeon commented on #108
@sesam Isn't the main Web site for the Accord Project addressing your request? https://www.accordproject.org

[2019-10-03 14:11] irmerk commented on #108
Absolutely I think this helps. We are taking the `v0.20` release as a great opportunity to step back and think about how to structure our documentation in different ways for different audiences, because this isn't really something like `redux`, for example, where everyone using it is likely a developer.

I think #111 is going to be one of the main issue tracking this. I'd absolutely love more inpu

[2019-10-03 14:11] jeromesimeon commented on #108
I would also be interested to know how we could improve the very first page in the documentation:
https://docs.accordproject.org/docs/accordproject.html

[2019-10-03 18:19] Michael-Grover opened #112 "Replace "Cicero" and "Ergo" headers with logos"
At the top of the docs page, have four boxes calling out different aspects of the tech docs. The first two are Cicero and Ergo. We currently use text to spell out Cicero and Ergo, however we have logos for those two projects.

![image](https://user-images.githubusercontent.com/40569793/66152602-ce213680-e5e7-11e9-8b3d-312ffa61febf.png)

Replace this text with the official Cicero and Ergo logos. Ma

[2019-10-03 18:41] jeromesimeon commented on #112
Not sure how easy this one is. I suspect this is part of the metadata used by docusaurus, not an HTML component.

[2019-10-03 18:43] Michael-Grover opened #113 "Add alt text to images"
Images on the Accord Project tech docs lack alternative text to describe the information for people with visual impairments.
https://docs.accordproject.org/

Here are some helpful resources:
https://www.w3.org/WAI/tutorials/images/
https://moz.com/learn/seo/alt-text

If you need help deciding what to make the alt text for an image, let me know.

Example of image with no alt text:
![image](https://

[2019-10-03 18:50] Alexandria commented on #113
Looks awesome! I can take a look at this.

[2019-10-03 18:51] Michael-Grover commented on #113
@Alexandria that would be great, thanks!

[2019-10-03 19:35] Alexandria commented on #113
@Michael-Grover I see a lot of these pics have a generic alt message like "Advance-Late-1". Are you wanting those updated/changed or are you only concerned with the images that have no alt text at all?  Thanks!

[2019-10-03 19:37] Michael-Grover commented on #113
@Alexandria more informative alt text would be good. The resources I sent in the issue are helpful for writing good alt text. Thanks for pointing this out and asking!

[2019-10-03 19:54] Alexandria commented on #113
Yup, I've been looking through those links. They have been supper helpful so far.

[2019-10-03 20:01] irmerk commented on #77
@jeromesimeon I think this is still needed in `cicero-ui`, no?

[2019-10-03 20:03] jeromesimeon commented on #77
I'm not sure how I ended up closing this. Apologies!

[2019-10-03 20:05] Michael-Grover commented on #112
Thank you @lex111 , closing the issue.

[2019-10-03 20:05] #112 closed

[2019-10-03 20:17] lex111 commented on #112
I look forward to new issues! They will?

[2019-10-03 20:19] Michael-Grover commented on #112
@lex111 yes we should be adding new issues throughout the month.

[2019-10-03 20:22] lex111 commented on #112
@Michael-Grover Great! :+1:

[2019-10-03 20:42] Niladri24dutta commented on #100
@mttrbrts Can you let me know where should I use the cli command `all-contributors generate`? Do i need to create the file `.all-contributorsrc` manually?

[2019-10-03 21:29] mttrbrts commented on #100
It looks like you should start with `all-contributora init` https://allcontributors.org/docs/en/cli/usage#all-contributors-init

[2019-10-03 22:45] RanadeepPolavarapu commented on #77
My apologies, I forgot to open that PR.

accordproject/cicero-ui#149

[2019-10-04 00:09] #77 closed

[2019-10-04 00:10] irmerk commented on #77
Yeah @jeromesimeon there is some weird behavior with GitHub it looks like.

[2019-10-04 04:28] djiwandou commented on #113
Hi @Michael-Grover could I also try to solve this issue, I am still newbie though 😅 ✌️
thanks @Alexandria for made it clearer 👍

[2019-10-04 14:10] Michael-Grover commented on #113
@djiwandou, I'll leave that up to @Alexandria since they've claimed this issue already. Thank you for being interested in helping!

[2019-10-04 14:54] irmerk commented on #78
@aayushbisen I believe the Lerna links are wrong - should be `https://lerna.js.org/`

[2019-10-04 14:54] Alexandria commented on #113
@djiwandou Go for it! I am currently working on the home page(I'll open a draft request later). I did a quick run through the application and there is certainly enough work for two peeps. I'm also new too so no worries 👍

@Michael-Grover I had a question about the code base. Like I mentioned above I am working on the homepage. I see in the code where the image is being added. However I am not sure

[2019-10-04 14:57] Michael-Grover commented on #113
@Alexandria , I think @jeromesimeon would be able to answer your question. I'm not familiar with how this subsite is coded.

[2019-10-04 14:57] irmerk commented on #113
@Alexandria these docs are made from [Docusaurus](https://docusaurus.io/), I would look into their developer docs which could be helpful.

[2019-10-04 17:53] aayushbisen commented on #78
Ok I'll update that.

[2019-10-04 23:42] nithilan4 opened #116 "The sidebar nav menu for the docs has spacing issues"
Template Specification's expansion arrow stacks when it shouldn't when there is a scrollbar
![image](https://user-images.githubusercontent.com/43860191/66245911-701f4c80-e6d6-11e9-82fa-9d5fcacc21d9.png)
also, the list is touching the scrollbar
![image](https://user-images.githubusercontent.com/43860191/66245946-9e049100-e6d6-11e9-817b-550cc0ea1be7.png)

[2019-10-05 13:47] #116 closed

[2019-10-05 14:54] peterhunn commented on #96
The Template Spec is one component of the documentation (currently available at https://docs.accordproject.org/).

This issue involves generating a downloadable PDF representation of all of AP documentation.

N.B. As @dselman added, the documentation is flagged for significant revision under #111.

[2019-10-05 15:04] mttrbrts commented on #96
One approach to solving this problem would be to find a solution to converting the Docusaurus markdown content to PDF.
For example, https://github.com/facebook/docusaurus/issues/969

IMO the scope should only be the contents of https://github.com/accordproject/techdocs/tree/master/docs, ideally with a way to preserve the ordering / structure of the content in Docusaurus.

If this can be done in a

[2019-10-05 15:07] jeromesimeon commented on #96
I agree with @mttrbrts We should wait for that feature to be available in Docusaurus. Last time I checked it seemed to be a widely requested one, and (I think) slated for the pretty big Docusaurus 2.0 update.

[2019-10-05 18:52] daniloff200 opened #121 "Slack button leads to wrong place"
**Describe the bug**
Wrong URL in Slack button on the main page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.accordproject.org/
2. Click on Slack button
3. You will be redirected to some Google form, and, you need permission here (probably, if you're logged in as an member of owner organisation, you will not see it)

**Expected behavior**
User should be redirected to th

[2019-10-05 19:09] daniloff200 commented on #121
Oh, another interesting place

In footer there's also link to slack, and it's `https://accord-project.slack.com/messages/C7U521CTG` which also looks strange, because, if I don't have access to Accord Slack workspace, I will be initially redirected here `https://accord-project.slack.com/?redir=%2Fmessages%2FC7U521CTG`

Perhaps, that also should be updated ?

Any thoughts @irmerk ?

[2019-10-05 22:19] irmerk commented on #121
Wow, I'm surprised we haven't caught this one yet! Yes, the link should be `https://accord-project-slack-signup.herokuapp.com/` for both of these buttons.

[2019-10-06 03:23] #121 closed

[2019-10-06 18:13] daniloff200 commented on #100
Yes, `all-contributors init` generates the `.all-contributorsrc` file, but, it's empty, and you have to add all users, who contributed with `add ` command.

Looks actually weird
For example, for this repo
`jeromesimeon, dselman, mttrbrts, irmerk, peterhunn, javiercanossini, lex111, 4katie, FelixKuehl, 4dd3r, daniloff200, jbesq777, Michael-Grover, nithilan4, oorjitchowdhary, contractpendev, pranjal

[2019-10-06 18:13] Snaked06 commented on #113
Hey @Alexandria @Michael-Grover @jeromesimeon , i love html can i take this issue would love to contribute

[2019-10-06 18:20] daniloff200 commented on #100
Same with the bot
You can add only one user per request to the bot, he will pick the first one and make a PR

[2019-10-06 18:40] mttrbrts commented on #100
Thanks for the update @daniloff200 , that's frustrating 🤔

Does the `check` function in the CLI help?

[2019-10-06 18:49] daniloff200 commented on #100
Actually, this list of contributions, that I shared above, was the result of `check`
It doesn't update the list of contributors, it just compares the actual list on Github, and your local `all-contributorsrc`.

[2019-10-07 01:07] aditya1rawat commented on #113
Is this still available to do? I am pretty good at HTML and would love to take this on!

[2019-10-07 01:59] irmerk commented on #113
@Snaked06 and @aditya1rawat, up to @Alexandria and @djiwandou if they need help with the issue.

[2019-10-07 13:21] prashi23 commented on #85
Hi, Can I work on this issue?

[2019-10-07 13:44] irmerk commented on #85
Hello @prashi23! Yes, @4katie and I are currently touching this issue a little bit. This would probably be an issue for which joining our technology working group calls (Wednesday) would be beneficial.

We are currently working on additions to [the section of docs for unstable versions][ciceromark], which will be for `v0.20-alpha`.

I think some other resources for this will be [the releases][rele

[2019-10-07 15:00] kharaone commented on #100
The initial commit will probably require a simple seeding setup
init-command
foreach contributor from check-command
   add-command contributor
generate-command

and then the bot (or cli) can take care of the updates.

[2019-10-07 16:52] Michael-Grover commented on #113
@Alexandria your PR looks great, I will add my review soon. Was anyone able to help you add alt text to the interior pages?

https://deploy-preview-135--accordproject-old.netlify.com/docs/accordproject.html

[2019-10-07 18:19] Alexandria commented on #113
@Snaked06  and @aditya1rawat no additional help is needed right now with this one, but thanks!

[2019-10-08 08:55] Niladri24dutta commented on #100
Yes it taking a lot of manual effort to put each name in the list.

[2019-10-08 11:06] mttrbrts commented on #100
I like @kharaone's plan. @daniloff200 , are you happy to give that a go?

It seems like we have all of the components, between the all-contributors CLI, bit and my bash script.

[2019-10-08 12:31] daniloff200 commented on #100
sounds good for me @mttrbrts
But, I don't exactly get, how we gonna execute all the steps, mentioned by @kharaone ,  so, just waiting from some example solution for this repo

[2019-10-08 21:07] #90 closed

[2019-10-09 14:31] Alexandria commented on #113
@Michael-Grover I figured out how to modify the alt text in the internal webpages. I'll try to have another pull request buy the end of the day 👍

[2019-10-09 14:45] Michael-Grover commented on #106
@Frozenaught thanks for taking this on. I'm going to close this issue now 👍

[2019-10-09 14:47] #106 closed

[2019-10-09 14:58] Michael-Grover opened #153 "AP version number overlaps search bar"
**Describe the bug**
In the nav bar, the Accord Project logo and version number overlaps the search bar on narrow screen widths (mobile)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to docs.accordproject.org on a mobile device, or reduce your window screen width to below 500px

**Expected behavior**
We expect the search bar to be accessible at all screen widths.

**Suggested fix**
At s

[2019-10-09 15:34] Michael-Grover commented on #113
@Alexandria , awesome, thank you!

[2019-10-09 16:50] jeromesimeon commented on #87
Somme thoughts following #147 👍

- We should make sure to indicate that this is not normative and that the official specification is at: https://commonmark.org
- We might want to focus on markup which is most relevant to our audience (e.g., I'm not sure code blocks are relevant for us so we could mention them but maybe no need to spend much time on it?)
- We may want to focus on markup which we kn

[2019-10-09 17:33] shahsank3t commented on #153
Is someone working on this issue? Else I would like to start on it

[2019-10-09 17:34] Michael-Grover commented on #153
@shahsank3t no one is currently working on this issue. Feel free to take it.

Thanks!

[2019-10-09 17:40] jeromesimeon commented on #153
I think this might be a Docusaurus issue. I would see if this has been fixed in more recent versions before doing anything on the source in this repo. One possibly related issue is https://github.com/facebook/docusaurus/issues/1697

[2019-10-09 17:44] jeromesimeon commented on #153
Maybe I'm wrong, since we're using an image...

[2019-10-09 18:01] shahsank3t opened #154 "Typo in DEVELOPERS.md"
**Describe the bug**
In DEVELOPERS.md ([here](https://github.com/accordproject/techdocs/blob/master/DEVELOPERS.md#building-a-project)), URL of the main repository to be added as upstream has a typo in it. `acccordproject` should be `accordproject`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [DEVELOPERS.md](https://github.com/accordproject/techdocs/blob/master/DEVELOPERS.md#building

[2019-10-09 18:04] shahsank3t commented on #154
@Michael-Grover - can you please add some labels to this and assign it to me so I could quickly open a PR for this?

[2019-10-09 18:06] Michael-Grover commented on #154
@shahsank3t done, thank you for finding this issue

[2019-10-09 18:17] shahsank3t commented on #154
Pull Request: https://github.com/accordproject/techdocs/pull/155

[2019-10-09 18:26] shahsank3t opened #156 "Missed a step for Building a Project in DEVELOPERS.md"
**Describe the bug**
Before installing node.js dependencies, one must need to navigate into `website` directory first which is not documented in DEVELOPERS.md

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [DEVELOPERS.md](https://github.com/accordproject/techdocs/blob/master/DEVELOPERS.md#building-a-project)
2. After executing first three commands mentioned, on executing the forth com

[2019-10-09 18:27] shahsank3t commented on #156
@Michael-Grover - another bug found in DEVELOPERS.md

[2019-10-09 18:28] Michael-Grover commented on #156
@irmerk or @jeromesimeon could assess and tag this more accurately than me

[2019-10-09 18:56] shahsank3t commented on #153
@jeromesimeon - Yes, since we are using an image (logo + text) we are running into this issue. Instead if similar to what Docusaurus does, if we using the small logo and the text separately, Docusaurus will take care of hiding the text when screen size gets smaller.

[2019-10-09 19:41] shahsank3t commented on #153
@Michael-Grover @jeromesimeon - Created PR - https://github.com/accordproject/techdocs/pull/158

[2019-10-09 19:44] #154 closed

[2019-10-09 21:20] irmerk commented on #156
@jeromesimeon I'm not 100% but this sounds true for this repository.

[2019-10-09 21:24] shahsank3t opened #160 "Updating the Docusaurus to support new custom features available"
**Is your feature request related to a problem? Please describe.**
Currently, we cannot add custom alt text to images. With the new update, this can be fixed.

[2019-10-09 21:25] irmerk commented on #153
@Michael-Grover this is closed, correct?

[2019-10-09 21:25] #153 closed

[2019-10-09 21:34] jeromesimeon commented on #160
From @shahsank3t :

[2019-10-09 21:35] jeromesimeon commented on #160
I'm guessing we want to at least update to Docusaurus `1.13.0`. Docusaurus `2.0` is still in alpha, but we should keep an eye on it.

[2019-10-09 21:55] irmerk commented on #80
@jeromesimeon https://github.com/accordproject/techdocs/pull/131#issuecomment-540212205

In reference to this, I don't think we expect our ecosystem to change so often that this would be hard to maintain - I think it would take little to no maintenance.

[2019-10-09 22:02] jeromesimeon commented on #80
We re-publish those things quite often. I just want to make sure we do not add too much extra work for this.

When things change, if those aren't maintained this will confused users more rather than less.

(I think this was the same idea when we added `DEVELOPER.md` etc to every project, and obviously we have tons of inconsistencies across those and have to fix typos in all the different places).

[2019-10-09 22:08] shahsank3t commented on #160
@jeromesimeon updating to `1.13.0` is pretty straight forward with no breaking changes. I did it on my local and everything seems to be working fine.
Should I submit a PR with this change or are we waiting for `2.0` to release and then update?

[2019-10-09 22:10] jeromesimeon commented on #160
@shahsank3t I would definitely do it, especially if this include support and fixes for the `alt` text you were pointing to in your earlier comments.

This might need a bit of a visual review to make sure nothing is broken.

[2019-10-09 22:16] shahsank3t commented on #160
@jeromesimeon - FYI `alt text` support and fixes are provided in `2.0` and not in `1.13.0` so even if we update this minor version, it won't fix our case.

[2019-10-09 22:18] jeromesimeon commented on #160
Ah that makes sense. Thanks! With that said, if you do a PR for this, I will review / merge it!

[2019-10-09 22:24] shahsank3t commented on #160
@jeromesimeon - Raised PR - https://github.com/accordproject/techdocs/pull/161

[2019-10-09 23:12] daniloff200 commented on #80
I agree with @irmerk, I don't think that new modules / libraries will appear every release.
If you're confused because of version badge, that should be updated automatically, I suppose

[2019-10-10 00:44] kharaone commented on #100
You should have an example of what I meant by seeding the initial run. #162

[2019-10-10 01:44] rei2hu commented on #156
I'd like to fix this, but like irmerk said, this problem is only relevant for this repository; it appears that all of the other Accord repositories have a package.json in their root directory.

[2019-10-10 17:07] jeromesimeon commented on #160
I've merged #161 I'm leaving this issue open (changing the title to mentioned Docusaurus 2.0).

[2019-10-10 20:37] VishalS99 commented on #156
I have taken up this small problem and given a PR. Could it be reviewed?

[2019-10-10 20:39] Michael-Grover commented on #156
@VishalS99 Thank you for taking up the issue. Can you link the PR in this comment thread when you have a chance?

[2019-10-11 05:07] VishalS99 commented on #156
Can someone check it up?

[2019-10-11 07:56] irmerk commented on #80
Does this change the way the ecosystem is shaped? If auto generating this from one source is possible, then we can just do that.

I think later in October or post Hacktoberfest, having one task be to sync all `DEVELOPERS` files again isn't too onerous.

[2019-10-11 08:06] irmerk commented on #70
@AninditaBasu unsure exactly, was looking for community input on how this could take shape in our documentation.

[2019-10-11 08:37] irmerk commented on #156
Thanks @VishalS99

Yes @rei2hu, I believe this is only the case in this repo.

[2019-10-11 08:37] #156 closed

[2019-10-11 12:54] VishalS99 commented on #71
I guess I can take this up! Could you brief me as to what all has to be updated? Thanks!

[2019-10-11 13:00] VishalS99 commented on #92
Can I take this problem? I think I can get it done quickly!

[2019-10-11 13:39] jeromesimeon opened #168 "Move the Ergo online REPL to Docusaurus"
The Ergo online REPL is currently available at: https://ergorepl.netlify.com

It might be more useful as a kind of "Fiddle" https://jsfiddle.net and linked to the technical documentation here: https://docs.accordproject.org

Since we are using Docusaurus, a possibly nice way to do it could be similar to the ReasonML web site: https://reasonml.github.io and its "try" button!

[2019-10-11 13:44] jeromesimeon commented on #168
This could require a bit of design thinking (what would it look like? should it use Monaco for editing, reuse Cicero-UI components). Can there be a "Try It" button near Ergo code snippets:

<img width="863" alt="Screenshot 2019-10-11 at 9 41 19 AM" src="https://user-images.githubusercontent.com/670099/66656177-7ac46f00-ec0b-11e9-890e-b42045cedb7e.png">

Or near templates:
<img width="868" alt="Scr

[2019-10-11 15:32] Michael-Grover commented on #92
@VishalS99 yes, thank you!

[2019-10-11 15:33] Michael-Grover commented on #92
Which of the two PRs adds the logo on models.accordproject.org and templates.accordproject.org?

[2019-10-11 15:42] VishalS99 commented on #92
Well I kept it separate, as they were separate repos. This pr is for docs and the other one is templates

[2019-10-11 15:44] Michael-Grover commented on #92
I don't see the logo on models.accordproject.org and templates.accordproject.org yet. @jeromesimeon does this mean it hasn't deployed yet? @VishalS99 thanks for the clarification. excuse my silly questions, I'm not a dev.

[2019-10-11 15:50] VishalS99 commented on #92
Cool no probs :)

[2019-10-11 15:54] jeromesimeon commented on #92
@Michael-Grover What @VishalS99 said. I haven't looked at the PRs on the other repos yet.

[2019-10-11 16:03] VishalS99 commented on #92
I have also fixed it for models.accordproject.org. I could give a PR for the repo too. Is it fine @jeromesimeon ?

[2019-10-11 16:05] jeromesimeon commented on #92
Sure sounds good @VishalS99 Could you please post links here to that @Michael-Grover can comment/review? thanks.

[2019-10-11 16:10] VishalS99 commented on #92
Cool!!

[2019-10-11 16:12] VishalS99 commented on #92
https://github.com/accordproject/cicero-template-library/pull/275#issue-327252612

[2019-10-11 16:19] VishalS99 commented on #92
https://github.com/accordproject/cicero-template-library/pull/275 this is the pr for  template site

[2019-10-11 18:09] VishalS99 commented on #92
and https://github.com/accordproject/models/pull/68#issue-327309885 this PR is for model site

[2019-10-11 18:10] VishalS99 commented on #92
I guess I have taken care of all the requirements for this issue.

[2019-10-11 18:12] jeromesimeon commented on #168
Another example is the handlebars documentation with the `Open in Interactive Playground!` button

https://handlebars-draft.knappi.org/guide/expressions.html#basic-usage

[2019-10-12 10:20] VishalS99 commented on #92
@Michael-Grover or @jeromesimeon could check it out? Thanks.

[2019-10-12 16:32] jeromesimeon commented on #92
Completed and merged for `docs` `templates` and `models`. Thanks for the contributions @VishalS99 ! I'm closing this issue.

[2019-10-14 09:23] irmerk commented on #80
Based on the latest response (https://github.com/accordproject/techdocs/pull/131#issuecomment-541226731), I was thinking of this to look more like this (https://github.com/accordproject/techdocs/pull/131#issuecomment-538763708) and this (https://github.com/accordproject/techdocs/pull/131#issuecomment-539713452).

Where does this stand @jeromesimeon?

[2019-10-14 09:32] daniloff200 commented on #80
@irmerk  I got your point, I personally more like these two options, then how I made it now, but, it was per https://github.com/accordproject/techdocs/pull/131#issuecomment-540084748 this . Let's wait for feedback from Jerome !

[2019-10-14 09:41] 4katie opened #171 "advanced-latedelivery.md: Buyer and Seller must be swapped"
**Is your feature request related to a problem? Please describe.**
'Buyer' and 'Seller' in this documentation must be swapped (seller must pay buyer, not the other way around)

**Describe the solution you'd like**
As above - both in the text and in the image files

**Describe alternatives you've considered**
N/A

**Additional context**
Potentially linked to [Cicero Template Library Issue #259](htt

[2019-10-14 13:14] Innovator007 commented on #171
I would like to work on this please assign it to me

[2019-10-14 13:24] rmoswela commented on #171
I will try this one :-)

[2019-10-14 13:29] Innovator007 commented on #171
Hi @irmerk i have added a pull request [here](https://github.com/accordproject/techdocs/pull/173), can you review it please :)

[2019-10-14 13:30] daniloff200 commented on #171
is it really a medium one?
Maybe, there's something more, then one line fix?

[2019-10-14 13:51] rmoswela commented on #76
Hey, should i take this one?

[2019-10-14 14:28] rmoswela commented on #67
Hey @irmerk i want to take a crack at this one. Is it possible to add a bit of context

[2019-10-14 15:49] irmerk commented on #171
I was on too much of a roll this morning and thought this was in `cicero-template-library`, not the docs.

[2019-10-14 15:51] daniloff200 commented on #171
@irmerk  actually, me too,  despite it's 5 PM for me :D

This task requires not only two line changes (which actually easy to make), but also, whole new screenshots, because of the changes in code of template . So, I assume, it can be Medium

[2019-10-14 16:08] Michael-Grover commented on #92
@VishalS99 this looks great, thanks again!

[2019-10-14 20:36] avi-007 commented on #71
I want to work on this issue

[2019-10-15 18:12] hp-plus5 commented on #70
I'll throw out some topics to cover. I'd love some feedback on these; I'm not well-integrated into this community, so there are some questions and assumptions here that I don't know the value of (or if they're relevant).

- Overall accessibility concepts as defined by X standards (such as The A11y Project, WCAG, or any global legislation that declares necessary accessibility (whether technically s

[2019-10-16 13:30] fr1sk opened #178 "accordproject-studio.md: Broken image"
Image `studio.png` is broken inside `accordproject-studio.md` doc file

[2019-10-16 13:30] fr1sk commented on #178
I will be on it

[2019-10-16 13:45] fr1sk commented on #178
fixed

[2019-10-16 16:47] jeromesimeon commented on #178
@fr1sk I am a bit confused by this issue. I _think_ that page is obsolete and not actually built as part of the Web site. Could you provide a snapshot of the issue from the documentation site itself?

[2019-10-16 17:17] fr1sk commented on #178
![image](https://user-images.githubusercontent.com/15851195/66942547-9f747880-f049-11e9-9b07-ee2f495d7e7c.png)
@jeromesimeon

[2019-10-16 17:20] jeromesimeon commented on #178
@fr1sk I meant in the Web site: https://docs.accordproject.org

[2019-10-16 17:27] irmerk commented on #178
Same as @jeromesimeon, I'm not sure where the issue is or how #179 is fixing it.

[2019-10-16 17:36] arshadkazmi42 opened #181 "Broken link in CONTRIBUTING.md"
Code of Conduct URL is broken in [CONTRIBUTING.md](https://github.com/accordproject/techdocs/edit/master/CONTRIBUTING.md)

It is redirecting to https://github.com/accordproject/docs/blob/master/Accord%20Project%20Code%20of%20Conduct.pdf

I am sending a PR with this URL https://lfprojects.org/policies/code-of-conduct/

[2019-10-16 18:42] irmerk commented on #70
@hp-plus5 yes these are great topics. I would say that we aim to be compliant with [WCAG 2.1](https://www.w3.org/TR/WCAG21/), considering it seems to be the most widespread.

I'm going to turn your points into a checklist in the opening post for this issue to follow.

[2019-10-16 18:49] irmerk commented on #171
If someone could take on the screenshots work @daniloff200 left off on from #176, that work is open.

[2019-10-16 19:01] #181 closed

[2019-10-16 19:11] irmerk commented on #67
Sure. I think most of the information is a bit fractured all over the place. This will require a bit of investigation and research into all the current documentation we have, as well as following work on the [Full Contract Support project](https://github.com/orgs/accordproject/projects/4). Whoever wants to contribute to this would likely want to join our weekly technology working group calls (and

[2019-10-16 21:10] irmerk commented on #80
This issue will be the tracker for all PRs in other repos. Make sure to link to this when creating more PRs @daniloff200

[2019-10-16 22:33] irmerk opened #184 "Avoid 'simply' and 'just'"
We should scan through our docs to replace or omit words such as 'simply' or 'just'.

[2019-10-17 13:09] matthew-was commented on #184
I was just doing a pr for react-native which uses https://alexjs.com/ to fix issues like these. I've never really used it but would be interested in integrating it here as a chance to learn and fix this issue at the same time.

[2019-10-17 14:26] Michael-Grover commented on #113
if @Alexandria is done with this, we can close it and open another one for improving the alt text of interior pages.

[2019-10-17 14:32] irmerk commented on #79
This issue appears finished.

[2019-10-17 14:37] irmerk commented on #78
Repos that need updating to say "Accord Project - Join Slack" such as in [`markdown-editor`](https://github.com/accordproject/markdown-editor):

- [ ] [`cicero`](https://github.com/accordproject/cicero)
- [ ] [`ergo`](https://github.com/accordproject/ergo)
- [ ] [`concerto`](https://github.com/accordproject/concerto)
- [ ] [`models`](https://github.com/accordproject/models)
- [ ] [`cicero-template

[2019-10-17 14:47] irmerk commented on #91
Opening back up after 20 days stale.

[2019-10-17 14:57] irmerk commented on #81
Opening back up after 20 days stale.

[2019-10-17 15:08] irmerk commented on #94
Opening this back up after 16 days stale.

[2019-10-17 15:15] michizhou commented on #81
@irmerk I deeply apologize for not updating you on my progress for this issue. I have been working on this, and should be able to get the documentation ready for review by later today. If you could reassign this issue to me, I would greatly appreciate it. Thank you.

[2019-10-17 15:17] irmerk commented on #113
Once that issue is created we can close this issue.

[2019-10-17 19:23] aayushbisen commented on #78
On it!

[2019-10-17 19:26] CryoZEUS commented on #184
Can I take this one? I've sorta
started working on it already.

[2019-10-17 19:28] irmerk commented on #184
Sure @CryoZEUS, there are already working changes in #185

[2019-10-17 19:30] CryoZEUS commented on #184
Thank you.
I'm kinda new over here, but I'm keen on helping out whatever way I can.

[2019-10-17 21:56] doomswatter commented on #171
I was going to work on this, but when I attempted to load the template from the link in the documentation, I got the error shown in the attached screenshot. I'm not sure what to do about it. Should I create another issue?
![Template_Error](https://user-images.githubusercontent.com/44559839/67050800-68649c80-f107-11e9-966f-4c268dd7038d.PNG)

[2019-10-17 21:58] irmerk commented on #171
@doomswatter it looks like you're loading a version of a template that isn't supported into template studio. @jeromesimeon what version is supported currently?

[2019-10-17 22:04] doomswatter commented on #184
I've scoured everything in techdocs/docs/ and made helpful changes. There were several superfluous instances of "simply" remaining, but I have obliterated them in the hopes of closing out this issue.

[2019-10-17 22:05] jeromesimeon commented on #171
@irmerk see "Help > About"

[2019-10-17 22:06] jeromesimeon commented on #171
@doomswatter fixing the link is probably a good place to start! You can find the latest version of all the templates here: https://templates.accordproject.org

[2019-10-17 22:08] irmerk commented on #184
@doomswatter great, you can put a PR in!

[2019-10-17 22:15] doomswatter commented on #171
I'll do that. Thanks!

[2019-10-17 22:19] doomswatter commented on #171
Oops, I used the wrong link. I'll fix it.

[2019-10-17 23:48] doomswatter commented on #171
I'm sorry, I'm new at this. I have new screenshots with the relevant changes, but I'm not sure how to go about using them in an edit for a pull request. Googling around for the answer didn't help me.

[2019-10-18 02:23] doomswatter commented on #171
Okay, I uploaded the new screenshots with a pull request. They have the same names as the originals, so they should work fine with the current code.

[2019-10-18 03:50] doomswatter commented on #171
I have the new screenshots ready, but I'm not sure how to submit them to you through a pull request, as I'm not allowed to upload into assets. I'm new to this, so I'm sure I'm just ignorant. Any help is greatly appreciated.

[2019-10-18 05:23] devcer commented on #113
I found a couple of images which doesn't have an alt text yet. added the related labels and submitted a PR.

[2019-10-18 05:47] devcer commented on #113
I see there are still a lot of other A11Y issues in this repo. Would you like me to go ahead and fix them?
<img width="1333" alt="Screenshot 2019-10-18 at 10 56 18 AM" src="https://user-images.githubusercontent.com/3799600/67068845-ddcc7d80-f198-11e9-8ff7-0041e3871a1e.png">

[2019-10-18 13:15] irmerk commented on #100
Want to make sure I understand what #162 does now: There is now a script in this repo that we can manually run to regenerate the list of contributors, correct?

[2019-10-18 13:48] irmerk commented on #113
@devcer yes, I think making incremental issues for A11Y related work, then working off of them would be great.

[2019-10-18 14:17] irmerk commented on #171
@doomswatter you should be able to just replace this image files in your local repo, and when you push up and create a PR it will be a PR to replace the image files.

[2019-10-18 14:58] doomswatter commented on #171
Thanks! That should do it!

[2019-10-18 21:15] irmerk commented on #80
Adding a checklist @daniloff200:

- [x] `ergo` (@daniloff200)
- [x] `cicero` (@daniloff200)
- [ ] `concerto` (@daniloff200)
- [ ] `markdown-transform`
- [ ] `markdown-editor`
- [ ] `cicero-ui`
- [ ] `concerto-ui`
- [ ] `template-studio-v2`
- [ ] `cicero-vscode-extension` (@daniloff200)
- [ ] `cicero-template-library`
- [ ] `models`
- [ ] `techdocs`

[2019-10-18 21:34] daniloff200 commented on #80
techdocs actually already fixed and merged, we're in this repo now, ahahah :rofl:  @irmerk

[2019-10-19 08:58] daniloff200 commented on #80
@irmerk  looks like I've created a PRs for all items from your checklist :) waiting for reviews!

[2019-10-19 09:13] kharaone commented on #100
The initial point was to provide an initialisation script for the configuration file.
If you already have a configuration file, it will indeed update it with contributors it didn't have.

[2019-10-19 12:32] irmerk commented on #80
Nice, thank you for all the consistency and thoroughness!

[2019-10-19 12:40] irmerk commented on #100
So I believe we'd want this issue to now track the implementation of the same concept in the following repos:

- [ ] `ergo`
- [ ] `cicero`
- [ ] `concerto`
- [ ] `markdown-transform`
- [ ] `markdown-editor`
- [ ] `cicero-ui`
- [ ] `concerto-ui`
- [ ] `template-studio-v2`
- [ ] `cicero-vscode-extension`
- [ ] `cicero-template-library`
- [ ] `models`
- [x] `techdocs`(@kharaone)

[2019-10-19 18:25] jeromesimeon commented on #92
This seems broken everywhere, except for the main page? e.g., https://docs.accordproject.org/docs/accordproject.html

![Uploading Screenshot 2019-10-19 at 2.24.53 PM.png…]()

[2019-10-19 18:31] jeromesimeon commented on #100
I'll voice a bit of a contrarian opinion on this. I'm not sure why we need to add all this extra work for something GitHub handles perfectly well already. GitHub also does this process without polluting the build process or the PRs.

[2019-10-19 20:04] VishalS99 commented on #92
I'll get it fixed asap

[2019-10-19 20:04] VishalS99 commented on #92
I guess it's a path issue

[2019-10-19 20:06] jeromesimeon commented on #92
@VishalS99 Most likely! I am not sure how we missed it in the initial PR, but if you could look at it that would be great!

[2019-10-19 20:14] VishalS99 commented on #92
It was working initially, don't know how it changed

[2019-10-19 20:36] jeromesimeon commented on #178
I still don't think this is an issue. I'm closing this.

[2019-10-19 20:36] #178 closed

[2019-10-19 20:39] irmerk commented on #100
Open to this issue and #83 being focused into the `techdocs` itself for a specific section, because it's a good point to not necessarily have this in the source code for libraries.

[2019-10-19 22:37] jeromesimeon commented on #168
This could be particularly nice with a notion of plugin. Vuepress supports that (that's what Handlebars uses), but it seems to also be coming to Docusaurus v2:

https://v2.docusaurus.io/docs/advanced-plugins

See also issue #160

[2019-10-19 22:44] jeromesimeon commented on #168
That button keeps changing. It's now called "Template" or "Input" etc. with a "Click to try out" hover.

[2019-10-20 01:02] gabrielgene commented on #111
Hi @dselman
How can I help here?
You want to make the documentation structure the same as the spreadsheet?

The overview section is this?
![image](https://user-images.githubusercontent.com/19671668/67153237-f2556680-f2bb-11e9-86de-f634b69cc95d.png)
![image](https://user-images.githubusercontent.com/19671668/67153249-1e70e780-f2bc-11e9-8cc9-76e30619186b.png)

I can do this ;)

[2019-10-20 08:09] dselman commented on #111
There have been good improvements already. We will discuss and review at the next Tech WG call, Wed 4pm EST. You are welcome to join!

[2019-10-20 12:30] kharaone commented on #100
the upstream PR have been approved too, which means that the readme.md file will need the comment-marker for the badge section too to get the bot working accordingly.

[2019-10-20 19:54] karandixit10 commented on #184
I would like to work on this issue

[2019-10-21 06:17] devcer commented on #160
Can I work on this?

[2019-10-21 13:32] irmerk commented on #100
Scratch https://github.com/accordproject/techdocs/issues/100#issuecomment-544139519, this issue is closed.

[2019-10-21 13:32] #100 closed

[2019-10-21 13:32] irmerk commented on #83
Closed along with #100

[2019-10-21 13:32] #83 closed

[2019-10-21 15:35] jeromesimeon commented on #160
We're already using the latest Docusaurus version. This is to track switching to 2.0 which is still in beta. I'm not sure whether we are ready to make the switch, although I would certainly love to see a mockup and/or evaluation for this. @irmerk @mttrbrts any opinion about this?

[2019-10-21 15:48] irmerk commented on #160
I think it'd be interesting to see something put together.

[2019-10-21 15:52] jeromesimeon commented on #160
Sounds good to me too. Note that Docusaurus 2.0 is clearly listed as "not production ready":
https://v2.docusaurus.io/docs/introduction

I think the main tasks would be:
- [ ] Same web site as current one but migrated to Docusaurus 2.0 (same features and content)
- [ ] Try and leverage new features (e.g., plugins, see also #112)
- [ ] Try and leverage custom alt images (as indicated in this issue)

[2019-10-21 16:24] jeromesimeon commented on #111
I really like some of the suggested reorganisations. I have a couple of suggestions though with the following goals:
- For the "developer in a rush", a section that would get someone started in 15 minutes tops
- More clearly separate tutorials from technical material
- Increase the visibility for the key syntax guides: Markup guide, Concerto guide, Ergo guide which are fundamental for anyone who w

[2019-10-21 18:07] VishalS99 commented on #92
Here is the update. The image path was wrong.
Do check and update!

[2019-10-21 19:37] doomswatter opened #203 "tutorial-nodejs.md: "Cicero API" link 404"
**Describe the bug**
In tutorial-nodejs.md, the link to the "Cicero API" leads to a 404 page. I believe the issue might be that the link is missing the document's file extension. A fix is forthcoming.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/accordproject/techdocs/blob/master/docs/tutorial-nodejs.md
2. Click on "Cicero API" link: https://github.com/accordproje

[2019-10-21 21:12] #203 closed

[2019-10-22 01:39] jeromesimeon commented on #80
There are already discrepencies between some of those tables in different projects. e.g., between Concerto: https://github.com/accordproject/concerto/blob/master/README.md and Cicero: https://github.com/accordproject/cicero/blob/master/README.md

[2019-10-22 01:43] sameshl commented on #83
@irmerk Was this issue solved for the repos assigned to me? I was actually working on that.

[2019-10-22 08:24] whitehawk0011 commented on #184
Is this done or can I hop into it?

[2019-10-22 08:26] daniloff200 commented on #83
@sameshl that issue was closed, because, there was a decision to leave this feature only for techdocs repo. I also made PRs with the same functionality to some repos, that were assigned to me, but, they were closed.

So, that's all.

[2019-10-22 08:30] daniloff200 commented on #80
@jeromesimeon  ohhhh my god!
That was a missclick ! And that was only in one repo: in Cicero.
I missed `concerto-ui` there. Gonna create a fix right now.

In all other repos, tables are exactly the same

`

[2019-10-22 09:09] daniloff200 commented on #80
Well, I see, that I failed a little bit, and link to markdown editor package is broken in every repo :mask:

Gonna create PRs today in all repos with a fix

[2019-10-22 13:04] irmerk commented on #83
@sameshl and @daniloff200 apologies! I was a bit overambitious when wanting this in all repos, and @jeromesimeon made a good point that it would be best to keep out of source code and exist only in the docs.

[2019-10-22 13:08] irmerk commented on #80
@daniloff200 link them all to this issue and we can review them all at once again.

[2019-10-22 13:30] daniloff200 commented on #171
Correct me, If I wrong, but,  it should be closed, right?
cc @irmerk

[2019-10-22 13:30] daniloff200 commented on #83
no worries :) @irmerk

[2019-10-22 13:43] irmerk commented on #171
Should close on resolution of https://github.com/accordproject/cicero-template-library/pull/281

[2019-10-22 13:48] #171 closed

[2019-10-22 14:20] irmerk commented on #71
Opening this back up after 8 days stale.

[2019-10-22 14:30] #92 closed

[2019-10-22 20:02] snehit31 commented on #184
I wanted to contribute in solving this issue,if it is still available?

[2019-10-23 03:15] chauxvive commented on #184
I'd like to work on this too, if it's not finished yet please.

[2019-10-23 11:31] whitehawk0011 commented on #184
I have done a pull request, please check!

[2019-10-23 11:38] snehit31 commented on #184
Help me with this error
You have 2 commits incorrectly signed off. To fix, head to your local branch and run:

git rebase HEAD~2 --signoff
Now your commits will have your sign off. Next run

git push --force-with-lease origin patch-3

[2019-10-23 11:42] snehit31 commented on #113
I would like to work on this issue.

[2019-10-23 14:11] irmerk commented on #184
@snehit31 might try `-f` instead of `--force-with-lease`

[2019-10-23 21:54] daniloff200 commented on #80
Well, looks like that's all
cc @irmerk  @jeromesimeon

[2019-10-24 01:15] RobbiNespu commented on #184
Hi @irmerk , firstly nice documentation you have there.
I do some changes by omit or replace the 'simply' wording. Could you check and review? Thanks

[2019-10-24 01:28] RobbiNespu commented on #96
Do you use travis? we can build PDF with pandoc during build

[2019-10-24 13:48] #80 closed

[2019-10-24 14:17] Michael-Grover opened #218 "Replace template diagram with new version"
Replace the template diagram on [this](https://docs.accordproject.org/) page with the new template diagram and update alt text (see below)
https://docs.accordproject.org/

**OLD**
![image](https://user-images.githubusercontent.com/40569793/67494318-02b46b00-f647-11e9-9eb3-b8027a547c82.png)

**NEW**
![template](https://user-images.githubusercontent.com/40569793/67494341-0a740f80-f647-11e9-9ed6-6b99

[2019-10-24 14:18] jeromesimeon commented on #218
I think this work is already done? https://docs.accordproject.org/docs/next/accordproject.html

Any place that hasn't been fixed yet?

[2019-10-24 14:19] Michael-Grover commented on #218
Here, where the screenshot is from: https://docs.accordproject.org/

I should have clarified in the description

[2019-10-24 14:38] jeromesimeon commented on #218
This is the documentation for version `0.13` the new documentation is at the link above. It will be released with `0.20`.

[2019-10-24 18:14] whitehawk0011 commented on #184
These changes have been made in https://github.com/accordproject/techdocs/pull/219#event-2741706200

[2019-10-24 18:24] irmerk commented on #184
Closing, #217 is still outstanding.

[2019-10-24 18:24] #184 closed

[2019-10-25 05:45] aayushbisen commented on #78
All done I think. ✅

[2019-10-25 14:07] #78 closed

[2019-10-27 04:56] gargarchit opened #226 "Improper word choice as well as Improper formatting in ReadMe.md"
I found some Improper word choice as well as Improper formatting for that I have made changes and corrected that so, now It will be easier for everyone to read.
in pr https://github.com/accordproject/cicero-ui/pull/195

We need to change this in all

[2019-10-27 06:56] gargarchit commented on #226
Also in https://github.com/accordproject/markdown-transform/pull/97

[2019-10-27 07:40] gargarchit commented on #226
Also in https://github.com/accordproject/ergo/pull/692

[2019-10-27 07:48] gargarchit commented on #226
Also in https://github.com/accordproject/ergo/pull/692 ,
https://github.com/accordproject/concerto/pull/145 ,
https://github.com/accordproject/markdown-transform/pull/97

[2019-10-27 13:30] UcheSylvester commented on #218
@jeromesimeon, if this issue has not been resolved, then I'd like to take it up :)

[2019-10-28 13:23] jeromesimeon commented on #218
@UcheSylvester I still believe it's been resolved. Unless I see evidence otherwise!

[2019-10-28 13:26] irmerk commented on #218
I think the old logo still exists in https://docs.accordproject.org/

[2019-10-28 13:58] jeromesimeon commented on #218
Good point! The front page is global, so we should switch it once we make `0.20` the official version of the documentation.

[2019-10-28 14:04] irmerk commented on #218
Closing this issue for now.

[2019-10-28 14:04] #218 closed

[2019-10-28 15:46] gargarchit commented on #226
https://github.com/accordproject/cicero-template-library/pull/295

[2019-10-28 15:48] irmerk commented on #226
Let me know when you have a PR in for all main repos and we can review all at once.

[2019-10-28 15:50] gargarchit commented on #226
@irmerk I think I have done for major repos listed
Please let me know any other Repos for correcting it's README

[2019-10-28 15:55] irmerk commented on #226
Docs for the following repos need to be consistent, so I don't want to be reviewing piece meal PRs, rather all of them at once to keep consistent:

- `markdown-transform`
- `ergo`
- `cicero`
- `concerto`
- `markdown-editor`
- `cicero-ui`
- `cicero-template-library`
- `models`
- `techdocs`
- `cicero-vscode-extension`
- `slack-app`
- `concerto-ui`
- `template-studio-v2`

[2019-10-28 15:56] gargarchit commented on #226
Okay @irmerk I will do for all

[2019-10-28 16:28] gargarchit commented on #226
Progress:

|Repo Name|README.md|DEVELOPERS.md|
|---------|-------|-------|
|markdown-transform|Done|Done|
|ergo||Done|
|cicero|||
|concerto|||
| markdown-editor|||
|cicero-ui|||
|cicero-template-library|Done|Done|
|models|||
|techdocs|||
|cicero-vscode-extension|||
|slack-app|||
|concerto-ui|||
|template-studio-v2|||

[2019-10-28 17:47] gargarchit commented on #226
@irmerk I have updated all the repos Please merge

[2019-10-28 19:17] Michael-Grover opened #230 "Hyperlink styling/hover effect"
Hyperlinks currently do not have a hover effect. Give hyperlinks an underline when the user hovers over them. The color of the underline should be the same as the hyperlink.

![image](https://user-images.githubusercontent.com/40569793/67710157-cd38b600-f995-11e9-8fb2-24620625d3e5.png)

Related bug:
Hyperlinks that are bold are black instead of green, making it impossible to tell they are hyperlink

[2019-10-28 19:26] m4tr1k commented on #230
@Michael-Grover can I take a look at this one?

[2019-10-28 19:27] Michael-Grover commented on #230
@m4tr1k yes, thank you!

[2019-10-28 19:27] #91 closed

[2019-10-28 19:29] irmerk commented on #81
I believe #192 may be the wrong approach. This may need a step back and evaluate how we can create a badge that is synced up with the latest version of `cicero`/`ergo` that other developers could use. Or a badge to place on their website, even.

[2019-10-28 19:37] Michael-Grover commented on #230
The black hyperlink bug may have something to do with if it's in a bulleted list, I'm not sure

[2019-10-28 20:30] michizhou commented on #81
@irmerk Should we put #192 on hold until further notice then?

[2019-10-28 20:43] Michael-Grover commented on #230
examples of black bold hyperlinks on this page:
https://docs.accordproject.org/docs/next/logic-ergo.html

[2019-10-28 20:51] #230 closed

[2019-10-28 21:54] Michael-Grover opened #233 "Code text is too low contrast"
Short code text is too low contrast. (when there’s a light gray box around monospaced text) When text is on a gray background, make the text this color: #15203C.

example of text that is too low contrast:
![image](https://user-images.githubusercontent.com/40569793/67721013-e2204400-f9ab-11e9-9797-e43c6a7813e3.png)

[2019-10-28 23:49] m4tr1k commented on #233
@Michael-Grover can I take this one?

[2019-10-29 04:17] Michael-Grover commented on #233
@m4tr1k yes, thank you!

[2019-10-29 13:26] irmerk commented on #81
I think putting it on hold until after our working group call tomorrow - I'll bring this up as a point of discussion. Feel free to join, 4pm EST https://zoom.us/j/5230278722

[2019-10-29 13:53] jeromesimeon opened #236 "Description for Cicero engine in ecosystem table should use "Accord Project""
Besides the typo, I believe we should _not_ use "Accord Protocol" anymore but "Accord Project". Also I don't believe we have a template specification anymore.

<img width="996" alt="Screenshot 2019-10-29 at 9 49 52 AM" src="https://user-images.githubusercontent.com/670099/67773173-af209380-fa31-11e9-8ab7-93053a7d5db1.png">

Whichever description text we decide on, this should be fix in every proje

[2019-10-29 13:53] jeromesimeon commented on #236
Flagging @peterhunn and @irmerk on this.

[2019-10-29 14:26] parammittal16 opened #237 "Readme typo"
**Describe the bug**
A clear and concise description of what the bug is.
Readme-typo

**To Reproduce**
Steps to reproduce the behavior:
1. fix-readme-typo

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - B

[2019-10-29 15:25] #237 closed

[2019-10-29 15:48] Michael-Grover commented on #233
thanks @m4tr1k

[2019-10-29 15:48] #233 closed

[2019-10-30 21:34] irmerk commented on #81
Based on the discussion, I think we want to implement a badge like the one you created, but remove the reference to a version. That way, this can refer to using `cicero-ui`, or any other library that might not be synced up in versions. We'll want this to be accessible to developers to use in their codebase, so maybe having a small section in the `techdocs` README file regarding this.

We also want

[2019-11-05 19:37] jeromesimeon commented on #87
New documentation for Cicero 0.20 includes:
- Revisions to the CLI
- Revisions to all the getting started and user tutorials Sections
- New documentation for the CiceroMark syntax
- New template diagrams
- Migration guide, including changes to the API

@irmerk can we close this?

[2019-11-06 20:50] jeromesimeon commented on #86
The documentation now includes descriptions for:
- new built-in functions (#252
- new "template literal" syntax(#252
- new `state` modification statement(#252
- an Ergo Section in the migration guide

Details of bug fixes I think are better in GitHub / Release notes.

@irmerk Can we close this?

[2019-11-08 17:33] #87 closed

[2019-11-08 17:33] #86 closed

[2019-11-08 17:35] jeromesimeon commented on #85
The new documentation includes:
- CiceroMark guide https://docs.accordproject.org/docs/markup-cicero.html
- Markus CLI https://docs.accordproject.org/docs/markus-cli.html

I'm closing this issue as completed

[2019-11-08 17:35] #85 closed

[2019-11-11 19:28] #226 closed

[2019-11-11 19:29] jeromesimeon commented on #160
@devcer Are you still planning / working on this?

[2019-11-11 19:29] jeromesimeon commented on #113
@Michael-Grover @irmerk Is this done?

[2019-11-11 19:30] jeromesimeon commented on #94
This issue is on the wrong repository. I'm moving it to `models`.

[2019-11-11 19:32] jeromesimeon commented on #81
@michizhou Any progress on this?

[2019-11-11 19:33] jeromesimeon commented on #68
The 0.20 documentation includes a new Guide on rich text, complex data, and dynamic templates with Ergo expressions.

[2019-11-11 19:33] #68 closed

[2019-11-11 20:45] michizhou commented on #81
@jeromesimeon I've decided to hold off on working this issue for the moment (which is further evidenced by the fact that the PR I used for this issue has been closed for a few days now).

@irmerk Should we resume work on this? If so, feel free to reopen the old PR or let me know if you want us to progress further so I can open a new PR to continue working on this issue.

[2019-11-11 20:49] jeromesimeon commented on #81
oh I had missed that closed PR. thanks for the update @michizhou !

[2019-11-11 20:56] irmerk commented on #113
Closing for now, as mentioned https://github.com/accordproject/techdocs/pull/221#issuecomment-551929461 @Alexandria can reopen with a new PR.

[2019-11-11 20:56] #113 closed

[2019-11-11 21:10] irmerk commented on #81
Work could resume on this based on the info in this comment https://github.com/accordproject/techdocs/issues/81#issuecomment-548122651

I suspect the previous PR wouldn't necessarily be the right direction, so maybe starting fresh?

[2019-11-11 22:03] devcer commented on #160
I wasn't keen on this since 2.0 isn't ready. I might want to look into this over the next week or so if no one else is looking into it.

[2019-11-11 22:09] jeromesimeon commented on #160
This is definitely a valuable contribution, even if early. If you try it and like Docusaurus 2.0 and we can start the migration, we'll definitely consume that work down the road!

[2019-11-13 17:53] jeromesimeon commented on #75
@irmerk I'm not sure I understand the ask here. What would you like to see changed?

[2019-11-13 18:42] jeromesimeon commented on #108
@irmerk @peterhunn @4katie I think this issue has been addressed by the latest material / introduction Section? Can we close?

[2019-11-13 18:44] jeromesimeon commented on #76
@irmerk Why would we remove the patch version?

[2019-11-13 18:45] jeromesimeon commented on #111
@dselman @4katie @peterhunn @irmerk Has this been addressed by the latest reorganisation of the documentation, or should we leave this open and do another round?

[2019-11-13 22:50] irmerk commented on #76
I believe this was based on a discussion in a technology working group call, thinking the documentation could follow the major/minor versions as a form of LTS and not needing to update it with every patch fix.

[2019-11-13 22:52] irmerk commented on #75
In the screenshot, these:
[code]
would be changed to these:
[code]

[2019-11-13 22:57] jeromesimeon commented on #75
I like the idea to change `version` to `Version` so it looks uniform, but is adding `Documentation` really an improvement? Since everything in that Web site is documentation, isn't it redundant?

Maybe changing the title of that page to be clearer than "Accord Project Versions" would be nice.

[2019-11-13 23:00] jeromesimeon commented on #76
I've been making patch release versions of the documentation (some improvements go in on patch release from time to time), should I stop doing that?

[2019-11-13 23:06] dselman commented on #76
If we align the doc versions with the Cicero versions (which we should), then I don't think a patch version update of Cicero should require a doc change (if it does it is probably not just a bug fix). For changes/fixes to the docs themselves I think they can go in unversioned (they should apply to all 0.20.* Cicero releases for example).

[2019-11-13 23:18] jeromesimeon commented on #76
Right... I think I get the idea now. All `0.20` versions should be compatible, so improvements are not patch version specific.

Ok thanks for explaining.

[2019-11-14 00:20] jeromesimeon commented on #76
@irmerk @dselman How far back to we need to keep versions for? Can we "reset" a bit and start with versions `0.13` and `0.20` ?

[2019-11-14 11:41] mttrbrts commented on #76
There is one other consideration. In order to cut a new release with docusaurus, we need to increment the version number.

This means that either:
- we should make changes to static versions of the docs to avoid increasing the patch version in Docusaurus just for docs updates.
- Hide the patch version in the front-end in the docs to avoid confusion as Cicero and Docs patch versions diverge

[2019-11-14 14:16] irmerk commented on #76
Interesting, yeah I suppose we should only keep documentation for the versions we currently support. I would think that at the pace we are going, and especially expect to be going in the future, having a current version and 1-2 previous versions seems reasonable. Similar to node, supporting a version for 1-2 years?

I think this was the line of thinking that lead to this issue in the first place,

[2019-11-14 14:37] jeromesimeon commented on #76
The reason I am asking is that I can't think of a clean way to re-write the version history, except for manually regenerating versions. If we don't have to go back too far in time, this is definitely less daunting.

Also, I really am not sure that the version numbers in Docusaurus have been very cleanly aligned with Cicero versions in the past, so for older versions it's unclear exactly what they

[2019-11-15 08:47] dselman commented on #111
Happy to close. You win this round!

[2019-11-15 13:37] jeromesimeon commented on #111
I'd like to see this as a happy compromise between best and good! Closing this issue.

[2019-11-15 13:37] #111 closed

[2019-11-15 18:44] #108 closed

[2019-11-15 20:48] jeromesimeon commented on #76
There is a bit of a conflict of interest between this requirement: only maintaining the documentation based on the the `major.minor` distinction, and the requirements to have pointers to the release notes in the versions table (see e.g., https://github.com/accordproject/techdocs/issues/75)..

What do people want the table to contain if we remove the patch number?
1. No more pointer to release note

[2019-11-18 14:31] irmerk commented on #76
We could possibly have the `Current Version (Stable)` have a link to the most recent major or minor release notes. And `Pre-Release Versions` have a link to the release notes instead of a particular release's notes.

[2019-11-18 16:22] jeromesimeon commented on #76
I'm not sure how to find the most recent version. Any suggestion?

I'm not sure I understand this.

[2019-11-18 16:56] irmerk commented on #76
Currently we have a link to the latest patch version (https://github.com/accordproject/cicero/releases/v0.20.2), so that could be just the latest major/minor version (https://github.com/accordproject/cicero/releases/tag/v0.20.0)

The `Pre-Release Versions` would have a link to the release notes, which would be displaying the most recent on top (https://github.com/accordproject/cicero/releases)

[2019-11-18 17:54] jeromesimeon commented on #76
oh ok, that would work. the word `latest` confused me there. I'll do that.

Cool! That works too. Thanks for the clarifications.

[2019-11-21 18:56] #75 closed

[2019-11-21 18:57] #76 closed

[2019-11-21 20:53] jeromesimeon opened #259 "Conditional blocks with else branches are not documented"
**Describe the bug**
The documentation includes the new syntax for conditional variables using `if` blocks here:
https://docs.accordproject.org/docs/markup-blocks.html#conditional-blocks

But this does not cover the new `{{else}}` clause available for those conditional variables. Here is an example:

[code]

[2019-11-27 19:15] irmerk opened #260 "Author Docs for Unsupported Templates"
**Is your feature request related to a problem? Please describe.**
Template authors need to be notified that certain Cicero v0.20 features are not yet supported in the UI:
- variable lists
- nested lists
- conditionals
- code blocks

**Describe the solution you'd like**
documentation for template authors + “oops” message when adding a template would hopefully mitigate the issues users may face

**

[2019-12-03 15:26] dselman commented on #260
Added docs:
https://github.com/accordproject/techdocs/commit/9b912a436bf12eceb718a255fbf23aaf34a32b1d

[2019-12-03 15:26] #260 closed

[2019-12-10 21:21] jeromesimeon commented on #259
Some documentation in #263

[2019-12-10 21:21] #259 closed

[2019-12-20 15:53] irmerk opened #264 "Contributor Generation"
Documenting the process for compiling a list of contributors in the `README` file:

### 1. `seed_contributors.sh`
The `README` in `techdocs`  currently relies on `seed_contributors.sh`. This gets all contributors to a specific repo, in this case `techdocs`, and runs them through the `all-contributors-cli` to generate a comprehensive markdown if an icon with a link per user.

### 2. `get_contributo

[2019-12-20 15:55] irmerk commented on #264
Related PR: #162
Related Issue: #100

[2019-12-20 15:57] jeromesimeon commented on #264
My personal feeling on this is that what Git says are contributors is still the most reliable list, and I'm unclear that having those in the README is all that useful.

[2019-12-20 15:58] irmerk opened #265 "Hacktoberfest Post-Mortem"
Tracking information to compile into a wiki article for future reference on Hacktoberfest participation. Feel free to add your thoughts!

Tagging @Michael-Grover @mttrbrts @jeromesimeon @dselman @DianaLease @peterhunn

[2019-12-20 16:20] Michael-Grover commented on #265
- We could consider putting a limit on shirts we send, i.e. "First 25 people to contribute 4 PRs get a free Accord Project shirt!" or "25 most significant contributions get a free shirt!" so we can control how much we spend on shirts
 - Have a video explaining DCO sign-off to make it very clear for unexperienced github and terminal users

[2020-02-22 11:09] shrey-sachdeva2000 opened #268 "Contrast Minimum Accessibility"
### **WCAG 2.0 Level AA 1.4.3 (Contrast (Minimum))**

**Tasks**
Contrast ratio should be at least 4.5:1.

**Related Issues:**
Issue #57 opened on Jun 13, 2019 by @irmerk  in cicero-ui

**Description**
The color of body text is low contrast(3.55:1) on grey background(#f9f9f9) failing to match the minimum requirement of at least 4.5:1.
![contrast_issue](https://user-images.githubusercontent.com/4766

[2020-02-24 14:58] #268 closed

[2020-03-02 08:56] Brethland opened #272 "Typo in Template Create page"
**Describe the bug**
On Edit your template, the title "Update Sample.txt" has typo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.accordproject.org/docs/tutorial-create.html
2. Refer to *Edit your template* section.

**Expected behavior**
Should be "Update Sample.md".

[2020-03-02 14:52] #272 closed

[2020-03-05 13:47] irmerk opened #275 "Diagram Contract Model"
We should capture this diagram, or one like it, in our documentation. This is from our slide deck template.

<img width="1205" alt="Screen Shot 2020-03-05 at 8 45 55 AM" src="https://user-images.githubusercontent.com/36460856/75987360-ce3aa080-5ebd-11ea-8900-b620e89cd8a3.png">

[2020-03-21 06:21] algomaster99 opened #278 "Wrong variable type for assigning `currencyCode`"
**Describe the bug**
The tutorial of "MiniLateDelivery" is breaking at https://docs.accordproject.org/docs/tutorial-latedelivery#add-a-payment-obligation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.accordproject.org/docs/tutorial-latedeliver
2. Follow the tutorial.
3. When you add a payment obligation, it throws an error in the Template Studio.
[code]
![Screenshot from

[2020-03-21 16:33] #278 closed

[2020-03-21 17:38] adrijshikhar opened #280 "Typo in Meta properties page"
**Describe the bug**
On the meta properties page, `default` property description has a typo

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.accordproject.org/docs/model-properties.html
2. Scroll down to `Meta Properties`
3. See an error in the description of `default`

**Expected behavior**
Should be `no` instead of `not`

**Screenshots**
If applicable, add screenshots to

[2020-03-21 18:51] adrijshikhar opened #282 "Incorrect Concerto-core version under API tutorial"
**Describe the bug**
The npm package version specified in the docs to download `concerto-core` to use API, shows an error. NPM says that particular version not found. So can we change it latest one , ie, `0.82.7` ?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.accordproject.org/docs/model-api.html
2. Run the npm command specified.
3. See error

**Expected behavior**
It s

[2020-03-21 18:55] adrijshikhar commented on #282
@jeromesimeon If we remove the specified version in the command and change it from `npm install @accordproject/concerto-core@0.20 --save` to `npm install @accordproject/concerto-core --save`, it works. One more thing, will the updated version create any problem with other documentation?

[2020-03-22 14:54] jeromesimeon commented on #282
This is just a bug. As far as I know there never was a `0.20` version. It's most likely a copy-paste from the Cicero version.

Either the most recent version or no-version would work! @adrijshikhar Will you do a PR?

[2020-03-22 14:57] adrijshikhar commented on #282
Yes sure, i will fix this. Thanks.

[2020-03-22 19:44] #280 closed

[2020-03-23 14:35] #282 closed

[2020-03-26 16:56] Jigyasa-Kumari commented on #275
Hi @irmerk could you explain this issue a little more in detail? I would like to contribute to this issue

[2020-03-26 16:59] jeromesimeon commented on #275
@Jigyasa-Kumari It would be nice to have the latest version of the document include some of the information that used to be in https://docs.accordproject.org/docs/0.13/spec-concepts.html

It could be as a new section, or integrated in an existing section.

[2020-03-28 11:56] Jigyasa-Kumari commented on #275
Okay. I'll get started with it and keep you updated!

[2020-03-30 06:57] Nipunagg commented on #275
Is this above issue is regarding the updation of documentation by using the Tech-Agnostic diagram

[2020-03-31 21:21] jeromesimeon commented on #81
How about something as simple as this? [![accord project](https://img.shields.io/badge/powered%20by-accord%20project-19C6C8.svg)](https://www.accordproject.org/)

[code]

[2020-04-01 15:04] irmerk commented on #81
Finished in `cicero`, #535 needs to be done in the following:

- [ ] `ergo`
- [x] `cicero`
- [ ] `concerto`
- [ ] `markdown-transform`
- [ ] `markdown-editor`
- [ ] `models`
- [ ] `cicero-template-library`
- [ ] `techdocs`
- [ ] `concerto-ui`
- [ ] `cicero-ui`
- [ ] `cicero-vscode-extension`

[2020-04-01 15:17] jeromesimeon commented on #81
I think that in `cicero-template-library` it should be actually at the top of the README as if it was user code -- as well as with instructions on how to use the badge.

[2020-04-06 17:35] irmerk opened #286 "Contributing Guide Consolidation"
Tracking the consolidation of `CONTRIBUTING` and `DEVELOPERS` guides in the following repositories:

- [x] ergo
- [x] cicero
- [x] concerto
- [x] models
- [x] cicero-template-library
- [x] cicero-vscode-extension
- [x] markdown-transform
- [x] markdown-editor
- [x] cicero-ui
- [x] concerto-ui
- [x] techdocs

[2020-04-06 21:06] #286 closed

[2020-04-06 21:35] jeromesimeon commented on #81
In Cicero Template Library:

<img width="579" alt="Screenshot 2020-04-06 at 5 34 57 PM" src="https://user-images.githubusercontent.com/670099/78607382-f3a82a80-782c-11ea-9ea3-816f20a03753.png">

In the models repository:

<img width="579" alt="Screenshot 2020-04-06 at 5 34 57 PM" src="https://user-images.githubusercontent.com/670099/78607446-0fabcc00-782d-11ea-9018-bc3fbf0fa43e.png">

[2020-04-07 16:30] #81 closed

[2020-06-08 21:06] irmerk opened #292 "Cleanup Cicero UI Reference"
Information should reflect the current state of our repos.

Specifically pertaining to `cicero-ui`, our [reference material][cui] should be updated to reflect `web-components`

Specifically pertaining to `template-studio-v2`, we should remove documentation referencing archived repositories.

[cui]: https://docs.accordproject.org/docs/ref-cicero-ui.html

[2020-06-18 22:32] #292 closed

[2020-07-01 14:24] jeromesimeon opened #297 "FAQ section"
It would be great to add a "Frequently Asked Questions" section to the documentation.

Please list suggestions for what it should contain (or questions that actually are asked frequently!) to this issue.

[2020-07-01 14:31] jeromesimeon commented on #297
There is a FAQ here: https://www.accordproject.org/frequently-asked-questions/

So maybe we don't need anything else?

@Michael-Grover @irmerk

[2020-07-02 12:41] irmerk commented on #297
I think we should consolidate and create further sections... For example: **AP**, **Smart Contracts**, **Cicero**, **Ergo**, etc.
This might be better suited to be handled in the documentation site.

As @Michael-Grover had mentioned, the main AP site does not support FAQ categories, so this could be an argument for handling in the documentation.

[2020-07-12 15:04] tbrooke commented on #297
I scanned through the docs again and looked at FAQs for some other projects to get a feel for them, some seemed to use them for a catchall for things that don't fit anywhere else, some used them to differentiate their project from others, some used them as pointers back into the documentation. Some had small sections others had large sections.

It is in the overview but I can see separate  FAQs fo

[2020-07-14 14:37] irmerk opened #298 "Transmute ⚗️ (v0.21)"
# Transmute ⚗️
Tracking the updates to documentation around the new parser

## Tasks
- [ ] **Release Notes**
  - [ ] Ergo
    - [ ] Benchmark improvements?
  - [ ] Cicero
    - [ ] Benchmark improvements?
  - [ ] Markdown Transform
    - [ ] Benchmark improvements?
  - [ ] Web Components
- [ ] **Update screenshots**
- [ ] **Syntax**
  - [ ] Clause Template
  - [ ] CiceroMark DOM
  - [ ] TemplateMa

[2020-07-16 12:33] #71 closed

[2020-07-21 23:42] tbrooke commented on #297
My thoughts after attempting my FAQ Section is to **Not** have a separate top Level faq but rather expand the introduction and add a "For Lawyers" section along with the existing For Business and For Developers - The existing faq seems OK and could be added to mayb more of a newsy think than a doc thing - What does anybody think?

[2020-07-22 12:32] irmerk commented on #297
I think the [existing FAQ](https://www.accordproject.org/frequently-asked-questions/) should be removed or just point to the docs [Introduction](https://docs.accordproject.org/docs/accordproject.html) or [Reference Manual](https://docs.accordproject.org/docs/ref-glossary.html), which would have a FAQ section. Each subsection of the Introduction having it's own form of FAQ seems more disjointed. I

[2020-07-22 12:59] irmerk opened #301 "Cicero UI -> Web Components"
# [Cicero UI Reference](https://docs.accordproject.org/docs/ref-cicero-ui.html)

This page will need to be adjusted and possibly expanded to represent the current structure of our UI code. Refer to [these release notes](https://github.com/accordproject/web-components/releases/tag/v0.91.0) as a place to start.

[2020-07-22 13:52] tbrooke commented on #297
I like that - so the Introduction section would have; Overview, Key Concepts, For Business, For Lawyers, For Developers and FAQ with eveything coordinated so it doesn't overlap -- I see the FAQ section as pretty small and maybe more dynamic to respond to real questions from real people as they work with Accord Project

[2020-08-05 14:30] #297 closed

[2020-08-05 20:05] skingh commented on #70
I want to contribute on this!

[2020-08-07 20:40] JohnGr001 opened #303 "Website Documentation doesn't align to the current command line executable help"
[**Describe](url
[Document Ticket.zip]
(https://github.com/accordproject/techdocs/files/5043546/Document.Ticket.zip)

) the bug**
The attached zip file contains a html5 map. The items noted in **red** are out of date. The markus online help needs rework, the other changes are more cosmetic.

**To Reproduce**
Steps to reproduce the behavior:
Click on the links or follow the help in the web pages. T

[2020-09-01 19:06] scheung38 opened #305 "[Question] How to deploy to Fabric: ERROR: manifest for hyperledger/fabric-ca:latest not found: manifest unknown: manifest unknown"
Following in here:

https://accord.gitbook.io/accord-project/#on-amazon-web-services

Provision your Hyperledger Fabric instance

git clone https://github.com/clauseHQ/fabric-samples
cd fabric-samples
git checkout master

cd fabric-samples/cicero

./startFabric.sh

export MSYS_NO_PATHCONV=1

docker-compose -f docker-compose.yml down
Removing network net_basic

docker-compose -f docker-compose.yml

[2020-09-02 21:32] jeromesimeon commented on #305
@mttrbrts are those amazon images those you had built for a demo / tutorial a while back? Are they related to the HLF tutorial in the documentation? CC @dselman

[2020-09-02 21:33] jeromesimeon opened #306 "Cicero 0.21 Documentation"
- [ ] New Contract & Template Markdown (@jerome)
- [ ] Cicero 0.20 → 0.21 migration guide
- [ ] Markdown-transform API & CLI (See also #303 )
- [ ] Web-components
- [ ] VSCode
- [ ] Tutorials
   - [ ] HLF tutorial (See also #305)

Not sure which one of those should be considered "Minimum Viable Product".

[2020-09-02 22:22] X00159370 commented on #305
I have a loader/tutorial I can add. One covers v1.4.6 of hlf , the other is written for hlf v2 (suitable for the hlf project) and builds on the new test network. Happy to contribute

[2020-09-10 09:59] dselman opened #307 "Improve Hyperledger Fabric Tutorials"
It would be useful to have more in-depth tutorials for HLF.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-09-10 13:11] irmerk opened #308 "AP ESLint Config"
# Feature Request 🛍️
Create an AP ESLint configuration to be shared among our repositories

## Use Case
We should have our own ESLint configuration to help keep code across our ecosystem consistent and approachable

## Possible Solution
This should run during tests to enforce linting

## Context
Use [`@clausehq/eslint-config`](https://www.npmjs.com/package/@clausehq/eslint-config) as a starting po

[2020-09-10 13:23] jeromesimeon commented on #308
We may need different linting rules for core part of the stack and web components

[2020-09-10 13:25] jeromesimeon commented on #308
Somewhat different issue, in the area of code checks:
- license checks on all project

[2020-09-10 16:22] irmerk commented on #308
Yes maybe we could have a core stack config and a ui stack config?

[2020-09-10 17:10] jeromesimeon commented on #308
I'm not super versed in linter configurations, but one difference is the JavaScript style where the core stack uses CommonJS "requires" v the web components using the ES6 style.

Also the standard indentation in the core stack is 4 whitespace rather than 2 in the web components (I wouldn't mind getting rid of that difference though).

[2020-09-28 18:43] jeromesimeon commented on #303
Some initial update to the Markus CLI documentation, aligning with the current version, is in #306

[2020-09-29 07:52] dselman commented on #305
Please follow the new guide, here: https://deploy-preview-309--accordproject-docs.netlify.app/docs/next/tutorial-hyperledger.html

[2020-09-29 07:52] #305 closed

[2020-09-29 07:55] dselman commented on #96
It seems like the Docusaurus community is making some progress on this. E.g.
https://github.com/KohheePeace/docusaurus-pdf

[2020-09-29 13:07] irmerk commented on #303
This will be tracked and solved in #306

[2020-09-29 17:17] jeromesimeon opened #310 "Contract Logic / Ergo Guide Improvements"
The Ergo Guide could use some improvements. I would welcome suggestions in this thread from users around:
- what is confusing
- what information is missing or hard to find
- examples or idioms that people would like documented
- any other suggestions for organization / improvements

[2020-09-29 17:18] jeromesimeon commented on #310
One first candidate from @dselman

[2020-10-01 19:13] PseudoNerd commented on #236
Is modification necessary for this particular instance or for every instance of the usage ?

If this is still open, I'd like to take this up.

[2020-10-01 19:43] jeromesimeon commented on #236
Thanks @PseudoNerd

Actually, this looks fixed here https://github.com/accordproject/techdocs#core-libraries

But not in other projects e.g., https://github.com/accordproject/cicero#core-libraries

If you are interested to fix those, I'll definitely assign you.

[2020-10-01 19:50] jeromesimeon commented on #303
New Markdown Transform CLI published as `0.21` documentation.

[2020-10-01 19:50] #303 closed

[2020-10-01 19:52] jeromesimeon commented on #298
@irmerk I think covered with #306 ?

[2020-10-01 19:53] jeromesimeon commented on #265
@irmerk Can we close this?

[2020-10-01 19:53] PseudoNerd commented on #236
Yes @jeromesimeon , I could take them up.

[2020-10-01 20:06] #298 closed

[2020-10-01 20:07] #265 closed

[2020-10-02 17:01] PseudoNerd commented on #236
I have made a PR on the Cicero repo.

[2020-10-02 18:56] irmerk commented on #236
Will this be closed by https://github.com/accordproject/cicero/pull/592 @jeromesimeon?

[2020-10-02 18:56] jeromesimeon commented on #236
I doubt it. I'm suspecting this issue is in every other repo.

[2020-10-02 18:59] irmerk commented on #236
We can revert out that table that was put in last October. It may have been the wrong direction.

[2020-10-07 10:58] dselman opened #319 "Monetary Amount formatting is missing from docs"
**Describe the bug**
There don't seem to be any docs for how to format a MonetaryAmount using currency symbol.

**To Reproduce**
https://docs.accordproject.org/docs/markup-templatemark.html#datetime-variables

[2020-10-07 11:00] dselman opened #320 "Number formatting is missing from docs"
**Describe the bug**
There don't seem to be any docs on how to format a number using locale specific thousand and decimal separators.

**To Reproduce**
https://docs.accordproject.org/docs/markup-templatemark.html#datetime-variables

[2020-10-08 12:14] #319 closed

[2020-10-08 12:15] #320 closed

[2020-11-04 13:02] CH-ND-N commented on #67
Hey @irmerk,  I am interested in working on this please assign this to me

[2020-11-04 13:03] CH-ND-N commented on #70
Hey @irmerk , Please assign this to me .

[2020-11-04 14:56] CH-ND-N commented on #70
thanks @irmerk, for assigning me this project. I need some guidance please help me get started.

[2020-11-05 18:51] irmerk commented on #70
Sure @CH-ND-N. I think a good start would be accumulating information that is applicable to AP in regards to accessibility and creating a PR for a section within https://docs.accordproject.org/docs/ref-web-components-overview.html. Using the material in the OP of this Issue would be helpful I think.

[2020-11-06 03:36] CH-ND-N commented on #70
Thanks, I am on it.

[2020-11-11 02:51] prakharsr commented on #160
Hi @jeromesimeon , I tried migrating the accordproject documentation from v1 to v2 and I was able to overcome many hurdles and be finally able to run it. I have deployed it on development server cloud run at https://accordproject-znyzg7zhdq-uc.a.run.app/ as I was unable to build the website due to (undefined) Error: Minified React error #152 and I am unable to debug it. The github repo where the s

[2020-11-23 20:18] sofiter commented on #306
There is aproblem displaying the video from vimeo in this page https://docs.accordproject.org/docs/accordproject-tour.html

[2020-11-26 18:51] sofiter commented on #306
The Decoreators Reference hyperlink at this page https://docs.accordproject.org/docs/model-decorators.html returns a 404 error

[2020-11-26 18:52] jeromesimeon commented on #306
@sofiter please kindly open new issues for those.

[2020-11-26 19:04] sofiter opened #327 "Documentation Video link is broken"
**Describe the bug**
Some links are broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.accordproject.org/docs/accordproject-tour.html
2. Click on the video
3. There is aproblem displaying the video from vimeo on this page

**Expected behavior**
The video should have a valid link

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (p

[2020-11-26 19:07] sofiter opened #328 "Documentation link returns a page not found error"
**Describe the bug**
Some links are broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.accordproject.org/docs/model-decorators.html
2. Click on the Decorators Reference hyperlink
3. A page not found is returned

**Expected behavior**
The link should redrect to the according page

**Desktop (please complete the following information):**
 - OS: windows
 - Browser chrome

[2020-11-26 19:09] sofiter opened #329 "Documentation broken link, page not found error"
**Describe the bug**
Some links are broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.accordproject.org/docs/logic-ergo.html
2. Click on the Accord Project Template Specification hyperlink
3. A page not found is returned

**Expected behavior**
The link should redrect to the according page

**Desktop (please complete the following information):**
 - OS: windows
 - Brow

[2020-12-02 11:43] jeromesimeon commented on #327
@sofiter I think the video should work again, could you confirm?

[2020-12-03 19:16] sofiter commented on #327
Yes, all good now, should I close the issue?

[2020-12-03 19:17] jeromesimeon commented on #327
yes please!

[2020-12-03 19:17] #327 closed

[2020-12-03 19:41] sofiter opened #331 "More detailed explanation of Validating a Model"
**Is your feature request related to a problem? Please describe.**
I would like to have a more detailed explanation where and how to run this code from this page https://docs.accordproject.org/docs/model-api.html  at this Topic **Validating JSON data using a Model**

**Describe the solution you'd like**
Describe what should the user open (i.e. VS Code, command prompt) and how to run this code from

[2020-12-15 06:04] OliverTod opened #333 "Update sidebar to (dynamically) include all useful documentation"
**Issue**:
The navigation sidebar on the Accord Project documentation website does not:
- contain all relevant/useful content that has been produced over the years; or
- dynamically update based on the content.

**More detail**:
There is a lot of good content in the broader Accord documentation that is not properly linked in the sidebar, but is still available through the search. From my review of

[2020-12-15 21:33] OliverTod commented on #333
Jolene, do you think you could allocate this issue to me? I will have a first crack at it.

[2020-12-15 23:10] irmerk commented on #333
Nice!

[2020-12-15 23:21] dselman commented on #333
Please beware that versions are managed by Docusaurus scripts -- do not modify any of the versioned files. I believe @jeromesimeon did most of the content clean-up for Cicero 0.20.

[2020-12-17 02:46] OliverTod commented on #333
In terms of dynamically updating the sidebar: it looks like it could be achieved along [these lines](https://gist.github.com/cameronhotchkies/ba3a5f6a48298f2090d8d1c87a69860b) but I had a quick look at the other main users of docusaurus (eg [React](https://github.com/facebook/react-native-website)) and they aren't doing this.

I'm starting to think that this might be a feature that just gets in th

[2020-12-17 03:53] OliverTod commented on #333
For the first part of this issue though (that is, making sure we haven't missed any good content in any of the documentation updates), I have identified the following as potentially useful content that doesn't seem to have made its way into the current version:
[advanced-hyperledger.md](https://docs.accordproject.org/docs/advanced-hyperledger)
[advanced-nodejs.md](https://docs.accordproject.org/do

[2020-12-17 14:01] irmerk opened #334 "Update Cicero Triangle"
# Feature Request 🛍️
The [Accord Project triangle](https://docs.accordproject.org/docs/assets/020/template.png), which illustrates Cicero technology, is a bit out of date in regards to [TemplateMark](https://docs.accordproject.org/docs/markup-templatemark.html)

## Possible Solution
1. We need to update the diagram (and everywhere it is shown) to replace CiceroMark with TemplateMark
2. We need ano

[2020-12-17 22:27] OliverTod commented on #334
Hi team - I have a question about the second diagram that you've mentioned. Apologies in advance if this doesn't make sense.

As I understand it, the suggestion is that we need a second triangle for documents (instances of the template) where CiceroMark will replace TemplateMark in the bottom left corner. However, won't any instance (especially one with CiceroMark) also need TemplateMark grammar i

[2020-12-18 11:53] mttrbrts opened #335 "Docusaurus v2: Styling"
Thanks to a major new contribution from @prakharsr, we have a working build of the docs site in Docusarus v2.

The new site should maintain the look and feel of the existing site at docs.accordproject.org, however much of the element hierarchy and class names have changed in Docusaurs v2.

Before we can release this new version, we should reapply the styling.

Existing styling is defined in https:

[2020-12-18 15:24] mttrbrts commented on #335
@rkotangoor

[2020-12-18 15:25] rkotangoor commented on #335
I am going to work on this, unfortunately could not assign to myself.

[2020-12-29 08:45] prakharsr opened #336 "AccordProject documenation contains many broken links, grammatical and punctuation errors"
AccordProject documenation contains many broken links, grammatical and punctuation errors. I will mention those issues that I was able to catch and fix while reviewing the documentation:

## Broken, incorrect links -

1. **fix incorrect link (markup-template)->(markup-preliminaries)** affecting 4 files (docs/accordproject-slc.md, docs/accordproject-template.md, website/versioned_docs/version-0.21/

[2021-01-13 10:34] dselman opened #338 "Introductory Video"
Provide an introductory video to describe the various components of Accord Project, as well as the business value of using AP technology.

[2021-01-13 20:34] joyosive commented on #338
Can we please allocate some time during the upcoming weekly tech call , to discuss stakeholders and stories.

[2021-02-09 13:09] irmerk opened #341 "Package Repository Information"
# Feature Request 🛍️

Suggested by @steelbrain, add repository information to package.json, see [npm's documentation](https://docs.npmjs.com/cli/v6/configuring-npm/package-json#repository)

## Use Case

It'll point people discovering you packages on NPM to you Github repository

## Required Repositories

- [x] [`ergo`](https://github.com/accordproject/ergo)
- [x] [`cicero`](https://github.com/acco

[2021-02-11 09:27] Aniruddha-Shriwant commented on #341
Hello @irmerk I'm interested in this 🙂

[2021-02-11 09:59] Aniruddha-Shriwant commented on #341
I had seen this repositories:

and found that these repositories ( [`ergo`](https://github.com/accordproject/ergo),  [`cicero`](https://github.com/accordproject/cicero), [`markdown-transform`](https://github.com/accordproject/markdown-transform)) had their repository information to `package.json`

So I will make PR in  [`concerto`](https://github.com/accordproject/concerto) & [`web-components`](ht

[2021-02-11 16:13] Aniruddha-Shriwant commented on #308
Hey, I'm Interested in this :)
I'm a newcomer here, I was just able to close this simple issue :) #341
I want to discuss this issue a little bit, I had joined Slack today, can you tell me to whom should I approach and discuss this issue there?

[2021-02-11 18:21] steelbrain commented on #341
Given that the linked repositories contain mono-repos, I think the `directory` attribute is missing

![image](https://user-images.githubusercontent.com/4278113/107680569-d56a5100-6cbf-11eb-8f61-7bcdc20c9aac.png)

Should this be re-opened?

[2021-02-11 18:48] irmerk commented on #308
Happy to discuss this more @Aniruddha-Shriwant, I know others can also help: @DianaLease @mttrbrts

[2021-02-11 18:48] Aniruddha-Shriwant commented on #341
May I work on this?

[2021-02-12 14:29] irmerk commented on #308
I think we should use the [`@clauseHQ/eslint-config`](https://github.com/clauseHQ/eslint-config) ESLint configuration as a starting point. But I think we should be making our own configuration repository. One for “core” and one for “ui” to start with. So, `@accordproject/eslint-core` and `@accordproject/eslint-ui`. We could make this a monorepo (`accordproject/linting`?), which would make future l

[2021-02-20 05:32] Aniruddha-Shriwant commented on #329
@irmerk , I think the issue is not resolved because I also tried the steps to reproduce this behavior and got the following :

![image](https://user-images.githubusercontent.com/58624108/108584910-fdfee480-736a-11eb-8002-6721252d4562.png)

[2021-02-20 05:37] Aniruddha-Shriwant commented on #328
@irmerk , similar to #329 the "Decorators Reference hyperlink" is broken, I think it should point to [this](https://docs.accordproject.org/docs/ref-concerto-decorators.html)

[2021-02-20 05:41] Aniruddha-Shriwant commented on #329
Should "Accord Project Template Specification hyperlink" point to [this](https://docs.accordproject.org/docs/ref-ergo-spec.html)

[2021-02-20 06:21] dselman commented on #329
Yes, please submit PRs to fix the links and I will approve. No need to fix old versions of the site - just fix the md files under `/docs` (switch to `next` version to view your changes).

[2021-02-20 07:21] Aniruddha-Shriwant commented on #329
Hello, I apologize for this naive doubt
I had updated `techdocs/docs/logic-ergo.md` and after that had run this commands :

[code]

After running this the broken link was fixed but when I run `git status` I got following :
[code]

So all these files that are modified/created are they normal when we change/edit md files or I had done something wrong?

[2021-02-20 07:28] dselman commented on #329
You should just update the .md files. We will release the next version of the documentation when a useful batch of changes have been committed.

You can *view* the `next` version with your changes by opening the local site in your browser (`npm run start` within the `website` folder) and then clicking on the 0.21 version link in the header, and then selecting "unstable > Documentation"

[2021-02-20 07:32] Aniruddha-Shriwant commented on #329
Okay, thanks!

[2021-02-20 18:47] Aniruddha-Shriwant commented on #328
@irmerk May I add this change in #343 ?

[2021-02-21 04:35] Aniruddha-Shriwant commented on #329
@dselman should I work on #328 ?

[2021-02-22 19:21] irmerk commented on #328
@Aniruddha-Shriwant sure just add them both to the same PR that's open.

[2021-02-22 19:22] irmerk commented on #329
@Aniruddha-Shriwant sure just add them both to the same PR that's open.

[2021-02-22 19:34] Aniruddha-Shriwant commented on #329
Okay! @irmerk :)

[2021-02-22 19:34] Aniruddha-Shriwant commented on #328
Okay :)

[2021-02-27 15:19] Aniruddha-Shriwant opened #344 "Documentation: Broken link"
# Bug Report 🐛

Hyperlink in documentation is broken

Similar Issues : #328 & #329

## Expected Behavior
Should point to a specific page.

## Current Behavior
After clicking the hyperlink it gives a page not found error.

## Possible Solution
Changing link in `.md file`

## Steps to Reproduce

1. Go to [TemplateMark](https://docs.accordproject.org/docs/accordproject-template.html#templatemark) sec

[2021-02-28 13:41] Aniruddha-Shriwant commented on #308
Hey @irmerk ,
I apologize for the delay, I will make a sample `.eslintrc.json` / eslint config file keeping the below suggestion in mind

and then we can discuss it and move on to further monorepo creation and so on...

[2021-02-28 18:59] Aniruddha-Shriwant commented on #308
Hello @irmerk ,
I had created a `.eslintrc.json` file [here](https://gist.github.com/Aniruddha-Shriwant/292f886a670af2e88dfebce822fba398) as a sample, So that we can discuss some more rules that we should add in it...
For convenience I'm pasting that file below...
[code]

1. The import plugin helps ESLint catch commons bugs around imports, exports, and modules in general
2. jsx-a11y catches many b

[2021-02-28 19:13] Aniruddha-Shriwant commented on #344
@irmerk should I add commit for this in #343 ?

[2021-02-28 22:22] mttrbrts commented on #308
Thanks @Aniruddha-Shriwant  for your efforts here.

@irmerk why don't we just adopt an existing lining ruleset? There are plenty to choose from and we avoid the overhead of maintaining our own.

[2021-03-01 17:08] irmerk commented on #308
I'm going off the assumption that @jeromesimeon is correct in that we [need two separate linters](https://github.com/accordproject/techdocs/issues/308#issuecomment-690526639).

[2021-03-01 17:14] irmerk commented on #344
Yeah that sounds good @Aniruddha-Shriwant

[2021-03-01 17:16] Aniruddha-Shriwant commented on #344
Ohk I will add that commit... :)

[2021-03-02 15:00] Aniruddha-Shriwant commented on #308
Okay @irmerk , I didn't make two files before because I was waiting for your views on this [file](https://gist.github.com/Aniruddha-Shriwant/292f886a670af2e88dfebce822fba398)...will make other file soon :)

[2021-03-02 15:41] irmerk commented on #308
@Aniruddha-Shriwant I think we'll want more input from @jeromesimeon on this before moving forward.

[2021-03-02 15:43] Aniruddha-Shriwant commented on #308
Yeah sure! Waiting for your reply @jeromesimeon 😅

[2021-03-02 17:53] #336 closed

[2021-03-02 19:01] Aniruddha-Shriwant commented on #341
@irmerk, I think we can close this now...

[2021-03-02 19:04] #341 closed

[2021-03-03 20:44] adithyaakrishna commented on #338
@dselman Can I Work on this? 👀

If anyone can let me know what components should I cover I can make a very good Intro Video With Transitions and All
Also I thought of projecting the Business Values of AP as points in the video

Do let me know of your suggestions 🚀

[2021-03-04 14:50] irmerk commented on #338
I believe @osive / @joyosive is currently working on this.

[2021-03-04 20:42] Aniruddha-Shriwant commented on #328
This is resolved by #337

[2021-03-04 22:06] #329 closed

[2021-03-04 22:06] #344 closed

[2021-03-04 22:07] #328 closed

[2021-03-10 00:25] KL13NT opened #347 "Slack Signup Broken"
(I don't know where to post this but seeing that tech docs for GSoC are available on this repo I posted this here)

Hi! I was trying to sign up for the Accord Project slack to chat about Google Summer of Code. I input my email address but then when I clicked the link to the slack form it took to "This link is no longer active". Is there an alternative way for communication?

My first open source c

[2021-03-10 14:36] harsh1206 opened #348 "Slack Signup Broken"
Hey community,
I am Harsh Prakash, a second year CS undregraduate from Delhi Technological University and i am vey much intrested in the projects of this organization and i am looking forward to do so under GSOC . I am proficient in MERN stack and it would be really helpful if someone could tell me more about the Multilingual Templates (Multi-Locale) idea, since i could not access the slack link a

[2021-03-10 16:41] harsh1206 commented on #348
Thank you, its working now .

[2021-03-10 20:11] Aniruddha-Shriwant commented on #308
@irmerk any update on this?
I had created two sample files...
[Core stack](https://gist.github.com/Aniruddha-Shriwant/864a79cea1a078616941f69e11735b31)
[Web Components](https://gist.github.com/Aniruddha-Shriwant/292f886a670af2e88dfebce822fba398)
Looking forward to having your input on this...

[2021-03-10 20:18] #348 closed

[2021-03-10 20:18] #347 closed

[2021-03-11 01:00] KL13NT commented on #347
Yeah, that works! Thanks!

[2021-03-11 06:51] dunchin7 commented on #301
Hey @irmerk! I'd like to work on this. Could you please guide me?

[2021-03-11 10:41] Cronus1007 opened #355 "Publishing JS Guidelines in the TechDocs"
# Discussion 🗣
Lack of Javascript Coding Guidelines
- reduces efficiency of communication and pull requests
- sets new contributors up to fail
- increases cognitive work of working across multiple repositories

# Solution Description
Document Javascript coding guidelines.

- [x]  Communicate with stakeholders
- [x]  Draft guidelines
- [x]  Publish guidelines

## Context
For example:

- nodev14
- e

[2021-03-11 10:48] Cronus1007 opened #356 "adding .editorconfig and browserlist"
# Discussion 🗣

- Add the .editorconfig
- Add the .browserslistrc

## Context
- EditorConfig is a universal solution which should tremendously reduce the amount of arguing between the developers. Moreover, in order to setup a basic `.editorconfig` should take no longer than 3–4 minutes.
- Browserslist is a convenient tool for describing target browsers just by using simple queries. For more info h

[2021-03-11 13:17] irmerk commented on #301
Sure thing, what can I help with?

[2021-03-12 20:43] dinuka-rp opened #349 "Link to Cicero documentation is broken in the Accord Project Technical Integration note below each template"
# Bug Report 🐛
Broken Redirect link to Cicero documentation from Templates under the Template Library.

## Expected Behavior
Redirect the user to Cicero documentation

## Current Behavior
The user is redirected to https://docs.accordproject.org/docs/cicero.html

The following screen is shown.
![Screenshot_20210313_021500](https://user-images.githubusercontent.com/47103883/110996426-ed59f100-83a1-1

[2021-03-12 20:52] dinuka-rp commented on #349
If the proposed solution is correct, I would like to get assigned to this issue and fix it.

[2021-03-12 21:26] mttrbrts commented on #349
Thanks @dinuka-rp, you have the correct URL but this change isn't straightforward.

The site https://templates.accordproject.org is actually statically built by in the `cicero-template-library` (e.g. https://github.com/accordproject/cicero-template-library/blob/master/build/full-payment-upon-signature%400.10.0.html)

So we have two options:
1. Update all of the pages in the `build` folder in the `

[2021-03-12 21:45] dinuka-rp commented on #349
@mttrbrts, I wondered around the code-base and found out that there's a much easier way of changing this.
This can be fixed by changing [this](https://github.com/accordproject/cicero-template-library/blob/master/views/developers.njk#L84) line of code and running the build command.

All pages in the build file will be updated then 😄

Shall I open this issue in the ```cicero-template-library``` proj

[2021-03-12 21:54] mttrbrts commented on #349
Unfortunately, I worry that it's not quite that easy. The files were all built by historical versions of the Cicero engine and rebuilding is likely to break other parts of the page if we rebuild with a more recent Cicero version. I'd love to be proven wrong!

Alternatively, you could just do a find/replace to be sure that we're only changing that line?

You're right about moving this issue though.

[2021-03-12 22:15] dinuka-rp commented on #349
Oh, I see...
I'll try doing a find/ replace for now since you're not sure if it'll break and I'm also kinda new here. Don't want to be breaking the docs or the templates 😅.

I'm guessing that when the PR is merged, the built files will get deployed without trying to rebuild the entire project?
Is it ok to update [this](https://github.com/accordproject/cicero-template-library/blob/master/views/deve

[2021-03-12 22:33] #349 closed

[2021-03-13 15:44] Poppy22 commented on #306
Hi! For the [How to use a template](https://docs.accordproject.org/docs/basic-use.html#install-cicero-cli) instructions, there are a few changes needed from 0.13 to 0.21:

-  the version number for the CLI needs to be updated (`npm install -g @accordproject/cicero-cli@0.21`)
- the version number for the Hello World template needs to be updated too (`cicero parse --template helloworld@0.13.0.cta --

[2021-03-14 04:03] tomas99batista opened #350 "Documentation: Concerto Model - Relationships"
[...] Deleting the Order has no impact on the OrderLine. **When the Order is serialized the JSON only the IDs of the** OrderLines are stored within the Order, not the OrderLines themselves.

source: https://docs.accordproject.org/docs/model-relationships.html

[2021-03-14 04:03] jeromesimeon commented on #350
Moving this to the corresponding repo

[2021-03-14 14:04] rutvi18 commented on #301
Can I work on this issue?

[2021-03-15 13:02] irmerk commented on #306
@jeromesimeon pinging you for @Poppy22's question ☝🏻

[2021-03-15 13:04] jeromesimeon commented on #306
You shouldn't update the `versioned*` files in `./website` since those are automatically generated by Docusaurus (see Docusaurus documentation). Instead update the files in `./docs`.

[2021-03-17 09:23] rutvi18 commented on #301
@irmerk I am not open this page in my localhost. Can u please help with that?

[2021-03-17 11:28] irmerk commented on #301
What page are you not able to open? Could you provide more context please?

[2021-03-17 11:43] rutvi18 commented on #301
Basically I am not able to open this page on my localhost while it is available when I am opening the website online.

![Screenshot (103)](https://user-images.githubusercontent.com/43277445/111462136-1254b800-8744-11eb-8b93-8ceacdc5365a.png)

[2021-03-17 11:45] rutvi18 commented on #301
Basically I am not able to open this page on my localhost while it is available on website online.

![Screenshot (103)](https://user-images.githubusercontent.com/43277445/111462333-547df980-8744-11eb-97b3-a4c3bfd464f8.png)

[2021-03-17 11:59] irmerk commented on #301
It looks like these are the files which will need to be modified:

- [`docs/started-resources.md`](https://github.com/accordproject/techdocs/blob/master/docs/started-resources.md)
- [`website/i18n/en.json`](https://github.com/accordproject/techdocs/blob/master/website/i18n/en.json#L428-L430)

And then [the current Web Components page](https://docs.accordproject.org/docs/next/ref-web-components-ove

[2021-03-17 12:02] rutvi18 commented on #301
Okay..thanks for the update!!

[2021-03-18 11:37] Poppy22 opened #351 "README link not updated to v0.21"
# Bug Report 🐛

In the README, the link from `How to use the Cicero Templating System` (the third one from **Documentation**) points to `How to use a template` page, which has instructions from v0.13 instead of v0.21.

## Expected Behavior

I believe the link should actually point to up-to-date documentation (v0.21).

## Current Behavior

A newcomer might end up combining instructions from the two

[2021-03-18 16:03] AkshadK7 commented on #301
Is this issue already taken? @irmerk

[2021-03-18 20:48] irmerk commented on #301
Ask @rutvi18 please.

[2021-03-18 21:08] irmerk commented on #351
Context from @jeromesimeon:

I mostly agree. We need to have a systematic approach to making these docs both more maintainable and at least as accessible.

[2021-03-19 03:53] rutvi18 commented on #301
@AkshadK7 I am already working on the issue.

[2021-03-19 06:52] AkshadK7 commented on #301
Ok, cool ! @rutvi18

[2021-03-19 07:37] Priyaraj17 commented on #351
Is this issue open? I would like to work on it.

[2021-03-19 13:10] Poppy22 commented on #351
@irmerk @jeromesimeon I will update the PR based on your feedback, so I should simply delete the `Documentation` section in the README. There is a link to the documentation in the `Overview` section already.

@Priyaraj17 I have already started working on this yesterday :D

[2021-03-19 13:14] irmerk commented on #351
I don't think it's a simple as deleting the `Documentation` section in the `README`. This will take some thought and I'm not sure yet.

[2021-03-19 18:34] jeromesimeon opened #353 "Concerto API documentation"
### Description

I'm unclear what follows is merely a question or an issue:

I think the "functional API" for concerto is only available as an experimental feature in `1.0.0-alpha` at the moment (possibly in `1.0.0` or later by the time anyone will be reading this).

But the documentation seems to point to it as available as part of the main release: https://docs.accordproject.org/docs/model-api.h

[2021-03-20 06:31] Aniruddha-Shriwant commented on #353
As you had said here so maybe we can add some similar text like "Functional API (experimental)" which will indicate to the user that the API is still in the experimental stage. We can also give the reference to the release description we are having for that **Functional API (experimental)** here ( https://github.com/accordproject/concerto/releases/tag/v1.0.0-alpha.2 )

[2021-03-20 08:30] Aniruddha-Shriwant commented on #308
@irmerk pinging you here to discuss a little about configurations...
Sample `.eslintrc.json` for Accord Project ( Core Stack )
[code]

Sample `.eslintrc.json` for Accord Project ( Web Components )
[code]
Also,

Also the standard indentation in the core stack is 4 whitespace rather than 2 in the web components (I wouldn't mind getting rid of that difference though).

As suggested by Jerome, I had a

[2021-03-23 11:54] mttrbrts commented on #308
Can't we take an off-the-shelf linter for each pattern? I still don't understand the motivation for creating one or more custom house styles

[2021-03-23 15:54] Arvind644 commented on #335
I want to work on this issue. does i have to add any style or I have to change class name

[2021-03-23 16:06] Arvind644 commented on #334
I want to work for this issue. Will you explain me again what to do

[2021-03-23 16:20] rkotangoor commented on #335
@Arvind644 : Joy Osive from Team Osive mentioned they have a working version and they are going to open a PR soon. Thank you for checking.

[2021-03-23 16:28] Arvind644 commented on #335
Thank you. Does there are any other issue to work for

[2021-03-23 17:57] irmerk commented on #334
@Arvind644 this is a complex issue that will take some research to learn the context around all of AP's technologies. The [link in the original post](https://docs.accordproject.org/docs/markup-templatemark.html) is a good starting point.

[2021-03-23 17:59] irmerk commented on #335
@Arvind644 there are plenty of Issues that are open and can use some investigative work.

[2021-03-26 13:54] Cronus1007 opened #357 "Transition from stylelint to prettier"
# Discussion 🗣
Prettier is an opinionated code formatter. It enforces a consistent style by parsing your code and re-printing it with its own rules that take the maximum line length into account, wrapping code when necessary; Stylelint: A mighty, modern CSS linter. A mighty, modern CSS linter that helps you enforce consistent conventions and avoid errors in your stylesheets.
## Context
Pros of Pre

[2021-03-29 15:34] P313-bit commented on #310
I can contribute on this issue.

[2021-03-30 15:38] irmerk commented on #355
I think this can be folded into #308

[2021-03-30 15:38] #355 closed

[2021-03-30 15:38] irmerk commented on #356
I think this can be folded into #308

[2021-03-30 15:38] #356 closed

[2021-03-30 15:40] irmerk commented on #310
Great @P313-bit! Please include thoughts in this Issue first.

[2021-03-30 15:44] irmerk commented on #334
@Michael-Grover is there any update on this?

[2021-03-30 15:45] irmerk commented on #333
@OliverTod is there any update on this?

[2021-03-30 15:46] irmerk commented on #236
Resolved with https://github.com/accordproject/cicero/pull/631

[2021-03-30 15:46] #236 closed

[2021-03-30 15:48] irmerk commented on #160
@mttrbrts and @prakharsr is this Issue finished with #330?

[2021-03-30 19:35] jeromesimeon commented on #334
I'm wondering if we need the CiceroMark there. It makes the diagram more complex (and I feel we may need a diagram for contracts -- instead of templates -- down the road anyway, so we may have to change it then again).

So maybe just replacing CiceroMark by TemplateMark is good enough for now?

[2021-03-30 19:39] Michael-Grover commented on #334
@jeromesimeon Is this good?
![AP diagram-02](https://user-images.githubusercontent.com/40569793/113046385-03233080-916e-11eb-9343-caebb4ad8545.png)

[2021-03-30 19:40] jeromesimeon commented on #334
LGTM @Michael-Grover !

[2021-03-31 19:18] jeromesimeon opened #360 "Migrate Accord Project Stack to Concerto 1.0"
## Description

Accord Project has released an alpha version of Concerto. It includes many breaking changes.

This is an umbrella issue to track the work in migrating the Accord Project stack (contract logic DSL, templating system, templates, tools, etc.) to this new version of Concerto.

## Tasks

`depends on` means the dependency has to be completed before the work can really be done on the corr

[2021-06-10 12:18] prsmahajan commented on #338
Hey, I would like to work on this, Can anyone suggest ways to get started?

[2021-06-10 12:20] prsmahajan commented on #67
Hey I would like to work on this issue, can anyone suggest ways to get started?

[2021-06-23 08:34] somnathPrasad commented on #275
Hey, is this issue open. I would like to contribute.

[2021-06-23 08:38] jeromesimeon commented on #275
This is a very open issue 😄

it's clearly a pretty big feature so if you take that one you probably will want to share some design thoughts, get early feedback or on-going feedback as you progress from the community. (on the Accord Project Slack or in this PR are the most productive options).

something to keep in mind: we would only consider a solution based on open-source libraries (this can be

[2021-06-23 08:46] somnathPrasad commented on #275
Ok I am working on this.

[2021-06-23 16:08] somnathPrasad commented on #275
[techdocs.zip](https://github.com/accordproject/techdocs/files/6703379/techdocs.zip)

Here is a zip file of the completed page, can anyone review it.

[2021-07-15 14:16] jeromesimeon opened #376 "TemplateMark: The 'this' variable should be documented"
### Description

TemplateMark supports a special kind of variable named `this` which represents the current value being processed in the template. This variable isn't properly documented.

See report and example in: https://github.com/accordproject/cicero/issues/680

[2021-09-02 09:11] haroonahmed-sudo opened #380 "About project"
Hey, I'm a beginner. I don't know anything about open source projects but I'm really skillful in frontend and backend so what I need to do in this project. please someone guide me.

[2021-09-14 10:44] shubhangi013 opened #381 "underlining of titles of features"
# Bug Report 🐛
The titles of the features blocks like : 'Concerto' are underlined upon hovering.

## Expected Behavior
Since two of the titles: 'CICERO' and 'ERGO' are actually images, there is no underlining upon hovering. The same should happen with 'Concerto' and the other 2.

## Current Behavior
The other 2 along with 'Concerto' get underlined.

## Possible Solution

## Steps to Reproduce

1.O

[2021-09-15 20:02] salmanansari14 commented on #381
I want to contribute

[2021-09-15 21:33] shivesh01 opened #383 "Removing signup button"
# Bug Report 🐛
Join button is not working

## Expected Behavior
open a content page

## Current Behavior
"Ooops, this page does not exist"

## Possible Solution
- Add a link to it.
- Or remove the button.

## Steps to Reproduce
First link gives the location where button exits and second link output of the button.
[button page](https://accordproject.org/about/)
[button output page](https://accordpr

[2021-09-16 05:28] shivesh01 commented on #383
I think it's good idea to add discord channel link to it instead of removing the button.

[2021-09-16 14:38] Michael-Grover commented on #383
I've changed the link to direct users to the discord signup page. @shivesh01 thanks for reporting the bug.

[2021-09-16 14:38] #383 closed

[2021-09-16 16:55] shubhangi013 commented on #381
I've already opened a PR that resolves this issue.

[2021-09-24 05:23] atharmohammad commented on #376
@jeromesimeon I would like to work on the issue.

[2021-10-04 07:53] #334 closed

[2021-11-14 09:40] avyay10 opened #388 "Slack Channel used instead of Discord on the readme"
# Discussion 🗣

## Context

The discussions for the accord project have moved to discord.
## Detailed Description

The link for connecting with the support community is still linked to slack.

[2021-11-21 06:10] mustang-shr commented on #308
hey can i get to work on this issue?

[2021-11-24 18:10] gauravgupta9755 commented on #381
i will want to contribute

[2021-11-30 20:29] irmerk commented on #380
I would google "`how contribute open source site:dev.to`" for reference material, or use the [opensource.guide](https://opensource.guide/how-to-contribute/). As for Accord Project, start with [getting familiar with the tech](https://docs.accordproject.org/docs/started-installation.html) and then browsing the open issues [in repositories](https://github.com/accordproject).

[2021-11-30 20:29] #380 closed

[2021-11-30 20:32] irmerk commented on #381
@Michael-Grover do you have thoughts on this and the related PR #382?

[2021-11-30 20:35] irmerk commented on #376
@jeromesimeon could you label this for what it relates to and its difficulty?

[2021-11-30 20:45] irmerk commented on #308
@mustang-shr I suggest following @mttrbrts's suggestion and implement an existing linter.

[2021-11-30 20:55] irmerk commented on #388
This issue can be the reference point to fix this in all of our repositories:

- [x] [`techdocs`](https://github.com/accordproject/techdocs) (@avyay10)
- [ ] [`concerto`](https://github.com/accordproject/concerto)
- [ ] [`ergo`](https://github.com/accordproject/ergo)
- [ ] [`cicero`](https://github.com/accordproject/cicero)
- [ ] [`markdown-transform`](https://github.com/accordproject/markdown-tra

[2021-12-01 14:35] Michael-Grover commented on #381
thanks for tagging me @irmerk , I added comments on the PR. I think it looks good from the Netlify preview, but I think it would be good for a front-end engineer to look before merging, to confirm that only the intended links are affected.

[2021-12-05 04:02] mustang-shr commented on #338
Hi, I would like to contribute on this project. Just a bit confused how to start

[2021-12-05 04:03] amanag25 opened #391 "Spelling error in templateGuides/preliminaries."
# Bug Report 🐛

There is spelling error in TemplateGuides/preliminaries. BlockName is misspelled as BlockBane.
![issue1](https://user-images.githubusercontent.com/92196600/144732963-42238ce3-e26b-4331-a107-e3c406434baf.png)

[2021-12-06 13:46] irmerk commented on #338
@joyosive is there any update on this Issue?

[2021-12-17 15:03] prathamaror commented on #391
i would like to work on this issue

[2021-12-17 16:09] amanag25 commented on #391
I've already attached a PR that resolves this issue

[2022-01-05 10:50] #381 closed

[2022-01-12 18:59] #391 closed

[2022-01-18 06:46] amanag25 opened #399 "Typo in TemplateGuide/ConcertoModel/Classes"
# Bug Report 🐛

I think this must be Events instead of transactions in https://docs.accordproject.org/docs/model-classes.html.

![issue picture](https://user-images.githubusercontent.com/92196600/149884456-ed058cbc-8027-4e67-9762-a301ecd83cb2.png)

[2022-01-19 12:08] amanag25 commented on #399
@irmerk
 May you have a look at this.

[2022-01-19 16:18] #399 closed

[2022-01-21 09:32] prathamaror commented on #301
if this issue still open can i work on this

[2022-02-06 16:03] Jeevan-Kiran-Lenka opened #403 "Documentation: Specs link under Coding Rules in Developers.md not working"
# Discussion 🗣

**Documentation: Specs link under Coding Rules in Developers.md not working**
## Context

When working on the source code yo ensure consistency throughout, all features or bug fixes must be tested by one or more [specs](https://github.com/accordproject/techdocs/blob/master/DEVELOPERS.md#unit-tests).

here the `specs` link is pointing to the same file so from where we can see those

[2022-02-09 07:35] Iheanacho-ai commented on #388
Can I work on this please

[2022-02-09 07:55] avyay10 commented on #388
Feel free to! Its left open for people trying to figure things out.

[2022-02-10 05:35] Jeevan-Kiran-Lenka commented on #403
Hey!! @arpit-maurya, I'm not the maintainer for this project, Please ask @mttrbrts, @dselman, @irmerk for assigning this to you :)

[2022-02-11 17:22] irmerk commented on #388
I'm going to hold off reviewing any PR for this until _all_ the PRs are ready for review.

[2022-02-11 17:23] irmerk commented on #403
Open a PR if you want to work on this.

[2022-02-12 20:43] Iheanacho-ai commented on #388
Sure no problem, I just wanted to be sure about the links to the ergo and cisero slack channels what am i supposed to change their slack links to. Thank you

[2022-05-22 09:44] K-Kumar-01 opened #409 "Documentation: Outdated Resources Page in Getting Started"
# Discussion 🗣

The current documentation in accord project resources, particularly getting started contains the link and text of the slack channel. However, Accord project used discord now. So, this should be updated accordingly.

## Context

![Screenshot from 2022-05-22 15-08-46](https://user-images.githubusercontent.com/59891164/169689172-c4d66810-ce17-4d18-b557-74cc27ed91de.png)

[2022-05-24 01:05] K-Kumar-01 opened #410 "Documentation: Oudated Documentation Page"
# Discussion 🗣

The page [here](https://docs.accordproject.org/docs/basic-use.html#execute-the-clause) shows a command `execute` for executing clauses. However, current implementation of cicero-cli (v0.22.0) doesn't contain such command

[code]

## Context

The page seems to be outdated and should either be updated accordingly or removed to avoid any confusion.